<!--主页/客户管理/纪念日查询报表-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            纪念日查询报表
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">
            <input class="form-control form-control-sm mx-1" type="date" ng-model="option.date_from"/>
            ~
            <input class="form-control form-control-sm mx-1" type="date" ng-model="option.date_to"/>
            <select class="form-control form-control-sm mx-1" ng-model="option.selection">
                <optgroup>纪念日分类</optgroup>
                <option ng-repeat="(k, v) in classify" value="{{$index}}">{{v}}</option>
            </select>
            <button class="btn btn-primary btn-sm mx-1" ng-click="query()" value="查询"><a class="icon-search"></a>查询</button>
        </div>
        <!--表格-->
        <table class="table table-hover table-bordered small">
            <thead>
            <tr>
                <th>纪念日</th>
                <th>关系</th>
                <th>本年对应日期</th>
                <th>距离天数</th>
                <th>客户信息</th>
                <th>联系电话</th>
                <th>客户类别</th>
                <th>维护人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in table">
                <td>{{x.anniversary}}</td>
                <td>{{x.relation}}</td>
                <td>{{x.date}}</td>
                <td>{{x.days}}</td>
                <td>{{x.customer_summary}}</td>
                <td>{{x.customer_phone}}</td>
                <td>{{x.customer_type}}</td>
                <td>{{x.channel}}</td>
                <td>操作</td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel-footer">
        This is footer
    </div>
</div>