<!--主页/客户管理/客户档案回收站-->
<!--操作栏-->
<div class="p-1">
    <div class="p-2 bg-success">
        <div class="form-inline p-1">
            无操作栏
        </div>
    </div>
</div>
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--表格-->
    <div class="p-2 mb-2 bg-faded">
        <table class="table table-hover table-bordered small">
            <thead class="bg-info">
            <tr align="center">
                <th>姓名</th>
                <th>性别</th>
                <th>手机</th>
                <th>单位</th>
                <th>撤单率</th>
                <th>最后就餐时间</th>
                <th>分类</th>
                <th>维护渠道</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>姓名</td>
                <td>性别</td>
                <td>手机</td>
                <td>单位</td>
                <td>撤单率</td>
                <td>最后就餐时间</td>
                <td>分类</td>
                <td>维护渠道</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>