<!--主页/客户管理/客户档案列表-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            客户档案列表
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">选择渠道
            <div class="input-group">
                <select class="form-control form-control-sm" ng-model="option.selected_channel">
                    <option value="-1">全部接单渠道</option>
                    <optgroup label="内部渠道"></optgroup>
                    <option ng-repeat="x in channel.inner" value="{{x.value}}">{{x.name}}</option>
                    <optgroup label="外部渠道"></optgroup>
                    <option ng-repeat="x in channel.outer" value="{{x.value}}">{{x.name}}</option>
                </select>
            </div>
            <input class="form-control form-control-sm" type="text" ng-model="option.keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-primary btn-sm mx-2" type="button" ng-click="query()" value="查询">
            <input class="btn btn-sm mx-2" type="button" value="高级筛选+导出" ng-click="profiles_export()"/>
            <input class="btn btn-sm mx-2" type="button" value="+添加档案" ng-click="profiles_add()"/>
            <input class="btn btn-sm mx-2" type="button" value="批量导入" ng-click="profiles_import()"/>
            <input class="btn btn-sm mx-2" type="button" ng-click="member()" value="会员价值设置"/>
        </div>
        <!--导航栏-->
        <div class="well well-sm">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-repeat="(k,v) in type"><a ng-click="filter(k)">{{v}}</a></li>
            </ul>
        </div>
        <!--详细信息-->
        <div class="well well-sm form-inline">
            <label class="form-check-label mx-1 inline" for="we_chat">
                <input class="form-check mx-1" type="checkbox" ng-model="option.we_chat" id="we_chat"/>绑定微信
            </label>
            <label class="form-check-label mx-1 inline" for="no_phone_number">
                <input class="form-check mx-1" type="checkbox" ng-model="option.no_phone_number" id="no_phone_number"/>非手机号码
            </label>
            <label class="form-check-label mx-1 inline" for="no_marketing">
                <input class="form-check mx-1" type="checkbox" ng-model="option.no_marketing" id="no_marketing"/>不接受营销
            </label>
            全部客户共{{table.length}}条记录，已经选择{{detail.selected_count}} | 移动到
            <select class="form-control form-control-sm" ng-model="option.to_type">
                <option ng-repeat="(k, v) in type" value="{{$index}}">{{v}}</option>
            </select>
            <input class="btn btn-primary btn-sm" type="button" ng-click="move()" value="移动"/>
        </div>
        <!--表格-->
        <table class="table table-bordered table-hover table-responsive small">
            <thead class="">
            <tr>
                <th><label><input type="checkbox" ng-click="select_all()" ng-model="option.select_all">全选</label></th>
                <th>姓名</th>
                <th>性别</th>
                <th>手机</th>
                <th>单位</th>
                <th>撤单率</th>
                <th>网订信誉</th>
                <th>总订单数<a class="icon-print" href=""></a></th>
                <th>总消费额<a class="icon-book" href=""></a></th>
                <th>最后就餐时间</th>
                <th>分类</th>
                <th>维护渠道</th>
                <th>操作</th>
                <th>接收营销短信</th>
            </tr>
            </thead>
            <tbody>
            <tr class="" ng-repeat="x in table|filter:{type:option.selected_type}">
                <td>
                    <label>
                        <input type="checkbox" ng-model="x.selected" ng-click="select()" value="{{x.selected}}">{{$index + 1}}
                    </label>
                </td>
                <td>{{x.name}}</td>
                <td>{{x.gender}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.unit}}</td>
                <td>{{x.cancel_rate|number:2}}</td>
                <td>{{x.credit|number:2}}</td>
                <td>{{x.order_count|number}}</td>
                <td>{{x.consumption|currency:"￥"}}</td>
                <td>{{x.last_meal_date|date:"yyyy/MM/dd"}}</td>
                <td style="cursor: pointer">{{type[x.type]}};({{x.rfm_type}})</td>
                <td>{{x.channel}}</td>
                <td><a ng-click="edit($index)">编辑</a></td>
                <td><label><input type="checkbox" ng-model="marketing_sms"/>开</label></td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="First">
                        <span aria-hidden="true">第一页</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Last">
                        <span aria-hidden="true">最后一页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel-footer">
        This is footer
    </div>
</div>