<!--主页/客户管理/客户档案回收站-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            客户档案回收站
        </div>
    </div>
    <div class="panel-body">
        <!--表格-->
        <table class="table table-hover table-bordered small">
            <thead class="">
            <tr align="center">
                <th>姓名</th>
                <th>性别</th>
                <th>手机</th>
                <th>单位</th>
                <th>撤单率</th>
                <th>最后就餐时间</th>
                <th>分类</th>
                <th>维护渠道</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in table">
                <td>{{x.name}}</td>
                <td>{{x.gender}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.unit}}</td>
                <td>{{x.cancel_rate}}</td>
                <td>{{x.last_meal_time}}</td>
                <td>{{x.type}}</td>
                <td>{{x.channel}}</td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel-footer">
        This is footer
    </div>
</div>