<!--主页/客户管理/客户档案列表-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <div class="form-inline p-1">选择渠道
            <div class="input-group">
                <select class="form-control" ng-model="option.select_channel">
                    <option value="-1">全部接单渠道</option>
                    <optgroup label="内部渠道"></optgroup>
                    <option ng-repeat="x in channel.inner" value="{{x.value}}">{{x.name}}</option>
                    <optgroup label="外部渠道"></optgroup>
                    <option ng-repeat="x in channel.outer" value="{{x.value}}">{{x.name}}</option>
                </select>
            </div>
            <input class="mx-1" type="text" ng-model="option.keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-sm mx-2" type="button" ng-click="query()" value="查询">
            <input class="btn btn-sm mx-2" type="button" value="高级筛选+导出" data-toggle="modal" data-target=".profiles-export"/>
            <input class="btn btn-sm mx-2" type="button" value="+添加档案" data-toggle="modal" data-target=".profiles-add"/>
            <input class="btn btn-sm mx-2" type="button" value="批量导入" data-toggle="modal" data-target=".profiles-import"/>
            <input class="btn btn-sm mx-2" type="button" ng-click="member()" value="会员价值设置"/>
            <label class="form-check-label mx-1 inline" for="we_chat">
                <input class="form-check mx-1" type="checkbox" ng-model="option.we_chat" id="we_chat"/>绑定微信
            </label>
            <label class="form-check-label mx-1 inline" for="no_phone_number">
                <input class="form-check mx-1" type="checkbox" ng-model="option.no_phone_number" id="no_phone_number"/>非手机号码
            </label>
            <label class="form-check-label mx-1 inline" for="no_marketing">
                <input class="form-check mx-1" type="checkbox" ng-model="option.no_marketing" id="no_marketing"/>不接受营销
            </label>
        </div>
    </div>
</div>
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--表格-->
    <div class="p-2 mb-2 bg-faded">
        <!--表格-->
        <table class="table table-bordered table-hover table-responsive small">
            <thead class="bg-info">
            <tr>
                <th><label><input type="checkbox" ng-click="select_all()" ng-model="option.selected">全选</label></th>
                <th>姓名</th>
                <th>性别</th>
                <th>手机</th>
                <th>单位</th>
                <th>撤单率</th>
                <th>网订信誉</th>
                <th>总订单数<a class="icon-print" href=""></a></th>
                <th>总消费额<a class="icon-book" href=""></a></th>
                <th>最后就餐时间</th>
                <th>分类</th>
                <th>维护渠道</th>
                <th>操作</th>
                <th>接收营销短信</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-info" ng-repeat="x in table">
                <td><input type="checkbox" ng-model="x.selected" value="{{x.selected}}"></td>
                <td>{{x.name}}</td>
                <td>{{x.gender}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.unit}}</td>
                <td>{{x.cancel_rate}}</td>
                <td>{{x.credit}}</td>
                <td>{{x.order_count}}</td>
                <td>{{x.consumption}}</td>
                <td>{{x.last_meal_date}}</td>
                <td style="cursor: pointer">{{x.type}};({{x.rfm_type}})</td>
                <td>{{x.channel}}</td>
                <td><a ng-click="edit($index)">编辑</a></td>
                <td><label><input type="checkbox" ng-model="marketing_sms"/>开</label></td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="First">
                        <span aria-hidden="true">第一页</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Last">
                        <span aria-hidden="true">最后一页</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--对话框/添加档案-->
<div class="modal profiles-add" role="dialog" aria-labelledby="profiles-add">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>添加档案</a>
            </div>
            <div class="modal-body">
                <!--主页/客户管理/客户档案列表/添加档案-->
                <!--内容-->
                <div class="py-2 px-2 mt-2 bg-info">
                    <!--表单-->
                    <div class="p-2 mb-2 bg-faded">
                        <form class="form-horizontal">
                            <fieldset>
                                <!--添加客户档案-->
                                <div class="col-form-legend">
                                    <legend>添加客户档案</legend>
                                </div>
                                <!--姓名-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>姓名：</label>
                                    <div class="controls">
                                        <input class="form-control-sm" type="text"/>
                                    </div>
                                </div>
                                <!--性别-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>性别：</label>
                                    <div class="controls">
                                        <label class="radio inline"><input class="form-control-sm" type="radio" name="sex"/>先生</label>
                                        <label class="radio inline"><input class="form-control-sm" type="radio" name="sex"/>女士</label>
                                    </div>
                                </div>
                                <!--电话-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>电话：</label>
                                    <div class="controls">
                                        <!--电话列表-->
                                        <textarea name="phone" placeholder="请准确输入11位手机号码"></textarea>
                                        <a class="text-info">多个电话号码请使用 ';' 或 ',' 分隔</a>
                                    </div>
                                </div>
                                <!--生日-->
                                <div class="control-group">
                                    <label class="control-label">生日：</label>
                                    <div class="controls">
                                        <input type="date" name="birthday"/>
                                        <label class="radio inline"><input type="radio" name="calendar" value="0"/>公历</label>
                                        <label class="radio inline"><input type="radio" name="calendar" value="1"/>农历</label>
                                    </div>
                                </div>
                                <!--单位-->
                                <div class="control-group">
                                    <label class="control-label">单位：</label>
                                    <div class="controls">
                                        <input type="text" name="unit"/>
                                    </div>
                                </div>
                                <!--现住址-->
                                <div class="control-group">
                                    <label class="control-label">现住址：</label>
                                    <div class="controls">
                                        <!--省-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--市-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--县-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--小区-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                    </div>
                                </div>
                                <!--籍贯-->
                                <div class="control-group">
                                    <label class="control-label">籍贯：</label>
                                    <div class="controls">
                                        <!--省-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--市-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                    </div>
                                </div>
                                <!--营销短信-->
                                <div class="control-group">
                                    <label class="control-label">营销短信：</label>
                                    <div class="controls">
                                        <label class="radio inline"><input type="radio" name="sms_marketing" value="0"/>开</label>
                                        <label class="radio inline"><input type="radio" name="sms_marketing" value="1"/>关</label>
                                    </div>
                                </div>
                                <!--分类方法-->
                                <div class="control-group">
                                    <label class="control-label">分类方法：</label>
                                    <div class="controls">
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                    </div>
                                </div>
                                <!--病症-->
                                <div class="control-group">
                                    <label class="control-label">病症：</label>
                                    <div class="controls">
                                        <!--病症列表-->
                                        <textarea name="phone" placeholder="病症列表"></textarea>
                                        <a>若是有多个标签请使用 ';' 或 ',' 分隔</a>
                                    </div>
                                </div>
                                <!--喜好-->
                                <div class="control-group">
                                    <label class="control-label">喜好：</label>
                                    <div class="controls">
                                        <!--喜好列表-->
                                        <textarea name="phone" placeholder="喜好列表"></textarea>
                                        <a>若是有多个标签请使用 ';' 或 ',' 分隔</a>
                                    </div>
                                </div>
                                <!--忌口-->
                                <div class="control-group">
                                    <label class="control-label">忌口：</label>
                                    <div class="controls">
                                        <!--忌口列表-->
                                        <textarea name="phone" placeholder="忌口列表"></textarea>
                                        <a>若是有多个标签请使用 ';' 或 ',' 分隔</a>
                                    </div>
                                </div>
                                <!--不良记录-->
                                <div class="control-group">
                                    <label class="control-label">不良记录：</label>
                                    <div class="controls">
                                        <textarea name="phone" placeholder="不良记录"></textarea>
                                        <a>若是有多个标签请使用 ';' 或 ',' 分隔</a>
                                    </div>
                                </div>
                                <!--操作栏-->
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <div class="py-2">
                                            <button class="btn btn-primary btn-sm">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer<a class="close"></a>
            </div>
        </div>
    </div>
</div>
<!--对话框/批量导入-->
<div class="modal profiles-import" role="dialog" aria-labelledby="profiles-import">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>批量导入</a>
            </div>
            <div class="modal-body">
                <!--主页/客户管理/客户档案列表/批量导入-->
                <!--内容-->
                <div class="py-2 px-2 mt-2 bg-info">
                    <!--表单-->
                    <div class="p-2 mb-2 bg-faded">
                        <!--表单-->
                        <div class="p-2 mb-2 bg-faded">
                            <form class="form-horizontal">
                                <fieldset>
                                    <!--请选取存储会员信息的EXCEL文档-->
                                    <div class="col-form-legend">
                                        <legend>请选取存储会员信息的EXCEL文档</legend>
                                    </div>
                                    <!--选取文件-->
                                    <div class="control-group">
                                        <label class="control-label">选择文件：</label>
                                        <div class="controls">
                                            <input class="form-control-sm mx-1" type="file" name="file" placeholder="未选择任何文件"/>
                                        </div>
                                    </div>
                                    <!--操作栏-->
                                    <div class="control-group">
                                        <label class="control-label"></label>
                                        <div class="controls">
                                            <input class="btn btn-primary btn-sm px-2 mx-1" type="button" name="file" value="导入"/>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!--提示-->
                        <div class="p-2 mb-2 bg-warning">
                            <p>注意事项:</p>
                            <p>文件请另存为：Excel 97-2003 工作薄（*.xls）格式后使用</p>
                            <p>可导入客户信息为：姓名、 手机、 性别、单位、喜好、忌口、服务要求</p>
                            <p>性别可为“男”“男士”“先生”“女”“女士”，不可填写其他，为空时默认为“男”</p>
                            <p>字段长度规则:1个汉字等于两个字节，其他字母数字1个占1字节 例如:小明=4字节，小明a=5字节</p>
                            <p>客户名规范:不得超过20个字节长度</p>
                            <p>公司名规范:不得超过40个字节长度</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer<a class="close"></a>
            </div>
        </div>
    </div>
</div>
<!--对话框/批量导出-->
<div class="modal profiles-export" role="dialog" aria-labelledby="profiles-export">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>批量导出</a>
            </div>
            <div class="modal-body">
                <!--主页/客户管理/客户档案列表/批量导出-->
                <!--内容-->
                <div class="py-2 px-2 mt-2 bg-info">
                    <!--表单-->
                    <div class="p-2 mb-2 bg-faded">
                        <form class="form-horizontal">
                            <fieldset>
                                <!--批量导出客户档案-->
                                <div class="col-form-legend">
                                    <legend>批量导出客户档案</legend>
                                </div>
                                <!--按时间筛选-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByTime"/>按时间筛选：</label>
                                    <div class="controls">
                                        <input class="form-control-sm mx-1" type="date"/>
                                        ~
                                        <input class="form-control-sm mx-1" type="date"/>
                                        有订单客户
                                    </div>
                                </div>
                                <!--按订单总量-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByOrder"/>按订单总量：</label>
                                    <div class="controls">
                                        <input class="form-control-sm mx-1" type="number"/>
                                        ~
                                        <input class="form-control-sm mx-1" type="number"/>
                                        单
                                    </div>
                                </div>
                                <!--按消费金额-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByMoney"/>按消费金额：</label>
                                    <div class="controls">
                                        <ul>
                                            <li>
                                                <label class="radio inline">
                                                    <input type="radio" name="consume_amount" value="0"/>按消费总额
                                                </label>
                                                <input class="form-control-sm mx-1" type="number"/>
                                                ~
                                                <input class="form-control-sm mx-1" type="number"/>
                                                元
                                            </li>
                                            <li>
                                                <label class="radio inline">
                                                    <input type="radio" name="consume_amount" value="1"/>按人均消费
                                                </label>
                                                <input class="form-control-sm mx-1" type="number"/>
                                                ~
                                                <input class="form-control-sm mx-1" type="number"/>
                                                元
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--按维护渠道 TODO: 按维护渠道-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByChannel"/>按维护渠道：</label>
                                    <div class="controls">
                                        <!--已选择渠道列表-->

                                        <!--渠道列表-->

                                    </div>
                                </div>
                                <!--按会员分类-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByMember"/>按会员分类：</label>
                                    <div class="controls">
                                        <ul class="list-group">
                                            <li>
                                                <label>
                                                    <input type="radio" name="member" value="0"/>RMF活跃会员
                                                </label>
                                                <ul class="inline">
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="0">活跃
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="1">沉睡
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="2">流失
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="3">高价值
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="radio" name="member" value="1"/>自定义分类
                                                </label>
                                                <ul class="inline">
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="0">活跃
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="1">沉睡
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="2">流失
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="checkbox inline">
                                                            <input type="checkbox" name="member_class" value="3">高价值
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--按餐段选择-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByMealPeriod"/>按餐段选择：</label>
                                    <div class="controls">
                                        <label class="radio inline">
                                            <input type="radio" name="meals_time" value="0"/>午餐
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="meals_time" value="1"/>晚餐
                                        </label>
                                    </div>
                                </div>
                                <!--按性别选择-->
                                <div class="control-group">
                                    <label class="control-label"><input type="checkbox" name="ByGender"/>按时间筛选：</label>
                                    <div class="controls">
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="0"/>先生
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="1"/>女士
                                        </label>
                                    </div>
                                </div>
                                <!--操作栏-->
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <div class="py-2">
                                            <button class="btn btn-primary btn-sm mx-1">导出客户档案</button>
                                            <button class="btn btn-primary btn-sm mx-1">导出全部客户档案</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer<a class="close"></a>
            </div>
        </div>
    </div>
</div>
<!--事件操作处理-->
<script>
    //    var TAG = Templates.Customer.CustomerProfiles;
    //    // 全选
    //    $("#select-all").change(function () {
    //        Log.i(TAG, "全选：" + $(this).val());
    //    });
    //    $(".profiles-add").on('on', {}, function () {
    //        var dialog = $(".profiles-add");
    //    });
    //    // 路由设置
    //    var routes = {
    //        "/Customer/CustomerProfiles/Customer/Edit/:customerId": function (customerId) {
    //            Log.i(TAG, "编辑客户：" + customerId);
    //        }
    //    };
    //
    //    var router = window.Router(routes);
    //    router.init();
</script>