<!--主页/智能订餐台/预约/新订单-->
<div class="modal-header">
    创建新订单
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <!--日期时间-->
        <div class="form-group">
            <label class="control-label">
                日期时间
            </label>
            <div class="controls">

            </div>
        </div>
        <!--选择人数-->
        <!--必填项：-->
        <!--电话-->
        <!--姓名 性别-->
        <!--客到时间 接单人-->
        <!--非必填项：-->
        <!--客户所在单位-->
        <!--备注-->
        <!--私人订制列表-->
    </form>
</div>
<div class="modal-footer">
    <!--操作栏：-->
    <!--预约 预约短信 发路线-->
</div>