<!--主页/智能订餐台/预约/创建订单-->
<div class="modal-header">
    创建订单
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <!--日期时间-->
        <div class="form-group">
            <label class="control-label">
                日期时间
            </label>
            <div class="controls">

            </div>
        </div>
        <!--人数-->
        <!--餐位列表-->
        <!--客户信息-->
        <div class="form-group">
            <!--电话-->
            <!--姓名 性别-->
            <!--特殊要求-->
            <!---->
        </div>
    </form>
</div>
<div class="modal-footer">
    <!--操作栏：-->
    <!--预约 预约短信 发路线-->
</div>