<!--主页/订单管理/操作日志-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            操作日志
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">
            <!--开始/结束时间-->
            <input class="form-control form-control-sm" type="date" ng-model="option.date_from"/>
            ~
            <input class="form-control form-control-sm" type="date" ng-model="option.date_to"/>
            <!--操作员-->
            <select class="form-control form-control-sm" ng-model="option.staff">
                <option>全部操作员</option>
                <option ng-repeat="x in Hotel.Staff.list" value={{x.staff_id}}>{{x.staff_name}}</option>
            </select>
            <!--门店/区域/餐位-->
            <select class="form-control form-control-sm" ng-model="option.branch_id">
                <optgroup label="请选择区域"></optgroup>
                <option ng-repeat="x in Hotel.BranchList.list" value={{x.branch_id}}>{{x.name}}</option>
            </select>
            <select class="form-control form-control-sm" ng-model="option.area_id">
                <optgroup label="请选择区域"></optgroup>
                <option ng-repeat="x in Branch.Area.list" value={{x.area_id}}>{{x.name}}</option>
            </select>
            <select class="form-control form-control-sm" ng-model="option.desk_id">
                <optgroup label="请选择餐位"></optgroup>
                <option ng-repeat="x in Branch.AreaDesk.list|filter:{area_id:option.area_id}" value={{x.desk_id}}>{{x.number}}</option>
            </select>
            <!--操作-->
            <input class="form-control form-control-sm" type="text" ng-model="option.keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-primary btn-sm" type="button" ng-click="search()" value="搜索"/>
        </div>
        <!--表格-->
        <table class="table table-hover table-bordered small">
            <thead class="">
            <tr id="center">
                <th align="center">
                    <a class="btn btn-link btn-sm" ng-click="option.orderBy=create_time">
                        操作时间<span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </th>
                <th>
                    <a class="btn btn-link btn-sm" ng-click="option.orderBy=staff_name">
                        操作人<span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </th>
                <th>操作类型</th>
                <th>操作内容</th>
                <th>订单信息</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" ng-repeat="x in data.list|orderBy:'option.orderBy'">
                <td style="width:120px;">{{x.create_time}}</td>
                <td>{{x.staff_name}}</td>
                <td>{{x.type}}</td>
                <td>{{x.content}}</td>
                <td>{{x.date}} {{x.meal_type}} {{x.time}} {{x.name }} {{x.gender}} {{x.phone}}</td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>