<!--主页/订单管理/操作日志-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            操作日志
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">
            <!--开始/结束时间-->
            <input class="form-control form-control-sm" type="date" ng-model="option.date_from"/>
            ~
            <input class="form-control form-control-sm" type="date" ng-model="option.date_to"/>
            <!--操作员-->
            <select class="form-control form-control-sm" ng-model="option.staff">
                <option>全部操作员</option>
                <option ng-repeat="x in Hotel.Staff.list" value={{x.staff_id}}>{{x.staff_name}}</option>
            </select>
            <!--门店/区域/餐位-->
            <select class="form-control form-control-sm" ng-model="option.branch_id">
                <optgroup label="请选择门店"></optgroup>
                <option ng-repeat="x in Hotel.BranchList.list" value={{x.branch_id}}>{{x.name}}</option>
            </select>
            <select class="form-control form-control-sm" ng-model="option.area_name">
                <optgroup label="请选择区域"></optgroup>
                <option ng-repeat="x in Branch.Area.list" value="{{x.name}}">{{x.name}}</option>
            </select>
            <select class="form-control form-control-sm" ng-model="option.desk_id">
                <optgroup label="请选择餐位"></optgroup>
                <option ng-repeat="x in Branch.AreaDesk.list|filter:{area_name:option.area_name}" value={{x.desk_id}}>
                    {{x.number}}
                </option>
            </select>
            <!--操作-->
            <input class="form-control form-control-sm" type="text" ng-model="option.keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-primary btn-sm" type="button" ng-click="search()" value="搜索"/>
        </div>
        <!--表格-->
        <table class="table table-hover table-bordered small">
            <thead class="">
            <tr id="center">
                <th>
                    <a class="btn  btn-link btn-sm" ng-click="option.orderBy='content'">
                        <span class="glyphicon glyphicon-chevron-up">操作内容</span>
                    </a>
                </th>
                <th>
                    <a class="btn  btn-link btn-sm" ng-click="option.orderBy='type'">
                        <span class="glyphicon glyphicon-chevron-up">操作类型</span>
                    </a>
                </th>
                <th style="display: none">员工ID</th>
                <th>员工姓名</th>
                <th style="display: none">订单ID</th>
                <th>订单状态</th>
                <th>预定用餐日期</th>
                <th>预定用餐时间</th>
                <th>订餐时段</th>
                <th>联系人</th>
                <th>性别</th>
                <th>联系电话</th>
                <th>客人数量</th>
                <th>桌位</th>
                <th>渠道</th>
                <th style="display: none;">预定门店ID</th>
                <th>预定门店名称</th>
                <th>创建日期</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" ng-repeat="x in data.list|orderBy:'option.orderBy'">
                <td>{{x.content}}</td>
                <td>{{x.type}}</td>
                <td style="display: none">{{x.staff_id}}</td>
                <td>{{x.staff_name}}</td>
                <td style="display: none">{{x.order_id}}</td>
                <td>{{x.status|order_status}}</td>
                <td>{{x.dinner_date|date:'yyyy/MM/dd'}}</td>
                <td>{{x.dinner_time|date:'hh:mm:ss'}}</td>
                <td>{{x.dinner_period}}</td>
                <td>{{x.name}}</td>
                <td>{{x.gender|gender}}</td>
                <td>{{x.contact}}</td>
                <td>{{x.guest_number}}</td>
                <td><span class="label label-success" ng-repeat="y in x.desks">{{y.number}}</span></td>
                <td>{{x.internal_channel|channel}} {{x.external_channel}}</td>
                <td style="display: none">{{x.branch_id}}</td>
                <td>{{x.branch_name}}</td>
                <td>{{x.create_time|date:'yyyy/MM/dd'}}</td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>