<!--主页/订单管理/历史订单-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            历史订单
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">
            <a>就餐日期：</a>
            <input class="form-control form-control-sm" type="date" ng-model="option.date_from"/>
            ~
            <input class="form-control form-control-sm" type="date" ng-model="option.date_to"/>
            <select class="form-control form-control-sm" ng-model="option.select_area" ng-change="on_area_change()">
                <optgroup label="请选择区域"></optgroup>
                <option ng-repeat="x in Branch.Area.list|orderBy:'area_id'|filter:{is_enabled:true}" value="{{x.area_id}}">{{x.name}}</option>
            </select>
            <select class="form-control form-control-sm" ng-model="option.select_desk">
                <optgroup label="请选择餐位"></optgroup>
                <option ng-repeat="x in Branch.AreaDesk.list|orderBy:'desk_id'|filter:{is_enabled:true}" value="{{x.desk_id}}">{{x.number}}
                </option>
            </select>
            <!--员工端无此项-->
            <select ng-hide="from==='staff'" class="form-control form-control-sm" ng-model="option.select_channel">
                <option value="-1">全部接单渠道</option>
                <optgroup label="内部渠道">内部渠道</optgroup>
                <option ng-repeat="x in channel.internal_channel|filter:{is_enabled:true}" ng-value="JSON.stringify(x)">
                    {{x.name}}
                </option>
                <optgroup label="内部渠道">内部渠道</optgroup>
                <option ng-repeat="x in channel.external_channel|filter:{is_enabled:true}" ng-value="JSON.stringify(x)">
                    {{x.name}}
                </option>
            </select>
            <input class="form-control form-control-sm" type="text" ng-model="option.keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-sm btn-primary" type="button" ng-click="query()" value="查询"/>
            <input class="btn btn-sm btn-secondary" type="button" ng-click="export()" value="生成报表"/>
        </div>
        <div class="panel panel-default">
            <!--导航栏-->
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="nav-item" ng-repeat="(k,v) in nav"><a ng-click="filter(k)">{{v}}</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <!--详细信息-->
                <div class="well well-sm form-inline">
                    订单总数：{{data.count}} 就餐人数：{{detail.customer_count}}人
                    总金额：{{detail.total|currency:"￥"}} 人均消费：{{detail.average|currency:"￥"}}
                    <input class="btn btn-primary btn-sm" type="button" value="补录订单" ng-click="order_append()"/>
                </div>
                <!--表格-->
                <table class="table table-hover table-bordered small">
                    <thead>
                    <tr align="center">
                        <th>客户姓名</th>
                        <th>手机</th>
                        <th><a class="glyphicon-arrow-down" ng-click="sort(2)">下单时间</a></th>
                        <th><a class="glyphicon-arrow-down" ng-click="sort(3)">就餐时间</a></th>
                        <th>接单渠道</th>
                        <th>区域</th>
                        <th><a class="glyphicon-arrow-down" ng-click="sort(6)">桌位</a></th>
                        <th>就餐人数</th>
                        <th>消费金额</th>
                        <th>订单状态</th>
                        <th>操作人</th>
                        <th>订单详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center" ng-repeat="x in data.list">
                        <td>{{x.name}} {{x.guest_type}}</td>
                        <td>{{x.contact}}</td>
                        <td>{{x.create_time|date:'yyyy/MM/dd'}}</td>
                        <td>{{x.arrival_time|date:'yyyy/MM/dd'}}</td>
                        <td>{{x.internal_channel}}|{{x.external_channel}}</td>
                        <td>{{x.finish_time|date:'yyyy/MM/dd'}}</td>
                        <td>
                            <span class="badge badge-success" ng-repeat="y in x.desks">
                                {{y}}
                            </span>
                        </td>
                        <td>{{x.guest_number}}</td>
                        <td>{{x.consumption|currency:'¥'}}</td>
                        <td>{{x.status|status}}</td>
                        <td>{{x.name}}</td>
                        <td><a ng-click="order_details(x.order_id)">订单详情</a></td>
                    </tr>
                    </tbody>
                </table>
                <!--分页导航-->
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="active"><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#">10</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>