<!--主页/订单管理/历史订单-->
<!--操作栏-->
<div class="py-1 bg-info" id="option">

</div>
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info" id="content">
    <!--导航栏-->
    <div class="pb-2">
        <ul class="nav nav-tabs nav-justified">
            <li class="active" href="#/Order/OrderHistory/Filter/Valid">有效订单</li>
            <li href="#/Order/OrderHistory/Filter/Canceled">撤单</li>
            <li href="#/Order/OrderHistory/Filter/RedBag">红包</li>
            <li href="#/Order/OrderHistory/Filter/Scattered">散客</li>
            <li href="#/Order/OrderHistory/Filter/All">全部订单</li>
        </ul>
    </div>
    <!--详细信息-->
    <div class="p-2 mb-2 bg-success form-inline">
        <a>订单总数：3202 就餐人数：29721人 总金额：￥11292410.00 人均消费：￥451.39</a>
        <!--<input class="btn btn-primary btn-sm" type="button" id="append" value="补录订单"/>-->
    </div>
    <!--表格-->
    <div class="p-2 mb-2 bg-faded">
        <table class="table table-hover table-bordered small">
            <thead class="bg-info">
            <tr align="center">
                <td>就餐时间</td>
                <td>区域</td>
                <td>桌号</td>
                <td>姓名</td>
                <td>手机</td>
                <td>人数</td>
                <td>接单渠道</td>
                <td>下单时间</td>
                <td>分类</td>
                <td>订单状态</td>
                <td>操作员</td>
                <td>订单详情</td>
            </tr>
            </thead>
            <tbody>
            <tr align="center">
                <td>06月08日晚餐18:00</td>
                <td>二楼</td>
                <td>(CEIEC)215 [备注]</td>
                <td>高 女士</td>
                <td>18510515888</td>
                <td>18</td>
                <td>刘光艳</td>
                <td>2017/6/8 10:57:33</td>
                <td>流失</td>
                <td>已订</td>
                <td>刘光艳</td>
                <td><a href="#" data-toggle="modal" data-target=".order-details">订单详情</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--对话框/订单详情-->
<div class="modal order-details" id="order-details" role="dialog" aria-labelledby="order-details">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>订单详情</a>
            </div>
            <div class="modal-body">
                <div class="row bg-faded">
                    <div class="px-3 py-2">2017年6月7日 周三 晚餐</div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-2">
                        <!--Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item active"><a href="#order_pane" role="tab" data-toggle="tab">订单信息</a></li>
                            <li class="nav-item"><a href="#option_pane" role="tab" data-toggle="tab">操作信息</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <!--Tab panes-->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="order_pane">
                                <div class="text-info">
                                    <p><strong>三楼 315</strong></p>
                                    <p><strong>张 先生 100 0000 0000 6人 未分类客户</strong></p>
                                    <p><strong>用餐时间：2017年6月7日 周三(晚餐) 14:57</strong></p>
                                    <p><strong>创建时间：2017年6月7日14:59 操作：XXX</strong></p>
                                </div>
                                <div class="text-info bg-faded p-2">
                                    <p>备注：给女朋友过生日，提前到店布置房间。</p>
                                </div>
                                <div class="row m-2">
                                    <div class="col-sm-10 d-inline">
                                        <div class="img-thumbnail p-2 m-1">IMG1</div>
                                        <div class="img-thumbnail p-2 m-1">IMG2</div>
                                        <div class="img-thumbnail p-2 m-1">IMG3</div>
                                        <div class="img-thumbnail p-2 m-1">IMG4</div>
                                        <div class="img-thumbnail p-2 m-1">IMG5</div>
                                    </div>
                                    <div class="col-4">
                                        <div class="row my-3 text-sm-center">已选0</div>
                                        <div class="row my-3">
                                            <input class="btn btn-secondary btn-sm px-2 mx-1" type="button" value="删除"/>
                                            <input class="btn btn-primary btn-sm px-2 mx-1" type="button" value="下载"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="option_pane">
                                <p><a>2017/6/1 13:24:42 预订单修改 单蕾</a></p>
                                <p class="text-info">对张先生18614023307预订的2017-06-02晚餐段315桌位</p>
                                <p><a>2017/6/1 13:24:42 预订单修改 单蕾</a></p>
                                <p class="text-info">对张先生18614023307预订的2017-06-02晚餐段315桌位</p>
                                <p><a>系统ID：0cdc987e-e654-43f9-a6ed-01af184c3251</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer
            </div>
        </div>
    </div>
</div>
<!--对话框/补录订单-->
<div class="modal order-append" id="order-append" role="dialog" aria-labelledby="order-append">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>补录订单</a>
            </div>
            <div class="modal-body">
                表单
            </div>
            <div class="modal-footer">
                操作栏
            </div>
        </div>
    </div>
</div>
<!--操作栏模板-->
<script id="OptionTemplate" type="text/x-jsrender">
    <div class="p-2 bg-success">
        <div class="form-inline p-1">
            <a>就餐日期：</a>
            <input type="date" data-link="date_from"/>
            ~
            <input type="date" data-link="date_to"/>
            <select id="area" data-link="select_area">
                <option value="-1">请选择区域</option>
                {{for area}}
                <option value="{{:value}}">{{:name}}</option>
                {{/for }}
            </select>
            <select id="seat" data-link="select_seat">
                <option value="-1">请选择餐位</option>
                {{for seat}}
                <option value="{{:value}}">{{:name}}</option>
                {{/for }}
            </select>
            <select data-link="select_channel">
                <option value="0">全部接单渠道</option>
                {{for channel}}
                    <optgroup label="{{:name}}">{{:name}}</optgroup>
                    {{for items}}
                        <option value="{{:value}}">{{:name}}</option>
                    {{/for }}
                {{/for }}
            </select>
            <input type="text" value="18800184976" data-link="keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-sm btn-primary mx-1 px-2" type="button" id="query" value="查询"/>
            <input class="btn btn-sm btn-secondary mx-1 px-2" type="button" id="save" value="生成报表"/>
            <a class="btn btn-sm btn-secondary mx-1 px-2" href="#" data-toggle="modal" data-target=".order-append">补录订单</a>
        </div>
    </div>
</script>
<!--表格模板-->
<script>

    var option = {
        data_from: "2017/06/10",
        data_to: "2017/06/09",
        select_area: -1,
        select_seat: -1,
        select_channel: 0,
        keyword: "",
        area: BanquetExpert.area,
        seat: [],
        channel: BanquetExpert.channel
    };

    $.templates("#OptionTemplate").link("#option", option);

    $("#area").change(function () {
        var index = $("#area").val();
        if (index === -1) {
            alert("选择区域：" + index);
            $.observable(option).setProperty({select_seat: -1, seat: []});
        } else {
            alert("选择区域：" + index);
            var seat = BanquetExpert.area[index].seat;
            $.observable(option).setProperty({select_seat: -1, seat: seat});
        }
    });

    $("#query").click(function () {
        var json = {
            data_from: option.data_from,
            data_to: option.data_to,
            select_area: option.select_area,
            select_seat: option.select_seat,
            select_channel: option.select_channel,
            keyword: option.keyword
        };
        alert(JSON.stringify(json));
    });

    var routes = {
        "/Order/OrderHistory/Filter/:type": function (type) {
            alert("选择了：" + type);
        }
    };
    var router = window.Router(routes);
    router.init();
</script>