<!--主页/订单管理/订单统计-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            订单统计
        </div>
    </div>
    <div class="panel-body">
        <!--表格-->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--订单数/人数/桌数/总消费额/人均消费/桌均消费统计图-->
                <div class="panel panel-default">
                    <div class="panel-heading">订单统计</div>
                    <div class="panel-body">
                        <canvas id="chart1" style="display: block; width: 320px; height: 320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--订单数/人数/桌数/总消费额/人均消费/桌均消费统计图-->
                <div class="panel panel-default">
                    <div class="panel-heading">订单统计</div>
                    <div class="panel-body">
                        <canvas id="chart2" style="display: block; width: 320px; height: 320px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <!--订单数/人数/桌数/总消费额/人均消费/桌均消费统计图-->
                <div class="panel panel-default">
                    <div class="panel-heading">订单统计</div>
                    <div class="panel-body">
                        <canvas id="chart3" style="display: block; width: 320px; height: 320px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>