<!--主页/订单管理/预定通知单-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <div class="form-inline p-1">
            <a>就餐日期：</a>
            <input class="form-control form-control-sm" type="date" ng-model="option.date_from" value="{{option.date_from}}"/>
            ~
            <input class="form-control form-control-sm" type="date" ng-model="option.date_to" value="{{option.date_to}}"/>
            <select class="form-control form-control-sm" ng-model="option.select_area">
                <option value="0">全部就餐区域</option>
                <option ng-repeat="x in area" value="{{x.value}}">{{x.name}}</option>
            </select>
            <select class="form-control form-control-sm" ng-model="option.select_channel">
                <option value="-1">全部接单渠道</option>
                <optgroup label="内部渠道">内部渠道</optgroup>
                <option ng-repeat="x in channel.inner" value="{{x.value}}">{{x.name}}</option>
                <optgroup label="内部渠道">内部渠道</optgroup>
                <option ng-repeat="x in channel.outer" value="{{x.value}}">{{x.name}}</option>
            </select>
            <input class="form-control form-control-sm" type="text" ng-model="option.keyword" placeholder="输入姓名或手机号"/>
            <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" ng-click="query()" value="查询"/>
        </div>
        <!--报表下载-->
        <div class="form-inline p-1">
            <select ng-model="option.daily_report" value="{{option.daily_report}}">
                <optgroup label="销售渠道业绩日报表下载">销售渠道业绩日报表下载</optgroup>
                <option ng-repeat="x in daily_report" value="{{x.value}}">{{x.title}}</option>
            </select>
            <input class="btn btn-sm btn-secondary ml-1 mr-2" type="button" ng-click="export()" value="生成报表"/>
        </div>
    </div>
</div>
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--导航栏-->
    <div class="pb-2">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a ng-click="today(0)">今日报表</a></li>
            <li class="nav-item"><a ng-click="today(1)">午餐</a></li>
            <li class="nav-item"><a ng-click="today(2)">晚餐</a></li>
            <li class="nav-item"><a ng-click="today(3)">已撤销订单</a></li>
            <li class="nav-item"><a ng-click="today(4)">散客订单</a></li>
        </ul>
    </div>
    <!--详细信息-->
    <div class="p-2 mb-2 bg-success">
        <a>订单数：{{detail.order_count}} 桌位数：{{detail.seat_count}} 就餐人数：{{detail.customer_count}}</a>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="option.phone_mask" value="电话号码以'*'代替"/>
            电话号码以'*'代替
        </label>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="option.seat_marge" value="一单多桌合并成一行"/>
            一单多桌合并成一行
        </label>
        <select class="inline" ng-model="option.print_size">
            <option ng-repeat="(k,v) in print_size" value="{{v}}">{{v}}</option>
        </select>
        <input class="btn btn-primary btn-sm" type="button" ng-click="print()" value="打印"/>
    </div>
    <!--表格-->
    <div class="p-2 mb-2 bg-faded">
        <!--表格-->
        <table class="table table-hover table-bordered small">
            <thead class="bg-info">
            <tr align="center">
                <td>
                    <a ng-click="sort(0)">
                        就餐时间 <i class="icon-chevron-down inline"></i>
                    </a>
                </td>
                <td>
                    <a ng-click="sort(1)">
                        区域 <i class="icon-chevron-down inline"></i>
                    </a>
                </td>
                <td>
                    <a ng-click="sort(2)">
                        桌号 <i class="icon-chevron-down inline"></i>
                    </a>
                </td>
                <td>姓名</td>
                <td>手机</td>
                <td>人数</td>
                <td>
                    <a ng-click="sort(6)">
                        接单渠道<i class="icon-chevron-down inline"></i>
                    </a>
                </td>
                <td style="display: none">维护渠道</td>
                <td>
                    <a ng-click="sort(7)">
                        下单时间<i class="icon-chevron-down inline"></i>
                    </a>
                </td>
                <td>分类</td>
                <td style="display: none">单位</td>
                <td>订单状态</td>
                <td style="width: 80px;">操作员</td>
                <td style="width: 80px;">订单详情</td>
            </tr>
            </thead>
            <tbody>
            <tr align="center" ng-repeat="x in table">
                <!--就餐时间-->
                <td>{{x.meal_time}}</td>
                <!--区域-->
                <td>{{x.area}}</td>
                <!--桌号-->
                <td>{{x.seat}}<span style="color: lightgreen">[备注]</span></td>
                <!--客户姓名性别-->
                <td>{{x.name}} {{x.gender}}</td>
                <!--电话-->
                <td>{{x.phone}}</td>
                <!--人数-->
                <td>{{x.count}}</td>
                <!--接单渠道-->
                <td>{{x.order_channel}}</td>
                <!--维护渠道-->
                <td style="display: none">{{x.channel}}</td>
                <!--下单时间-->
                <td>{{x.order_time}}</td>
                <!--分类-->
                <td>{{x.type}}</td>
                <!--单位-->
                <td style="display: none">{{x.unit}}</td>
                <!--订单状态及备注-->
                <td>{{x.status}}</td>
                <!--操作员显创建订单人-->
                <td>{{x.operator}}</td>
                <!--订单详情-->
                <td><a ng-click="order_details(x.id)">订单详情</a></td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li class="active"><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>