<!--主页/酒店管理/门店管理/门店信息对话框-->
<div class="modal-header">
    {{option}}门店信息
</div>
<div class="modal-body">
    <!--表单-->
    <form class="form-horizontal">
        <!--门店名称-->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                门店名称：
            </label>
            <div class="col-sm-10">
                <input type="text" ng-model="form.name"/>
            </div>
        </div>
        <!--门店老板-->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                门店老板：
            </label>
            <div class="col-sm-10">
                <input type="text" ng-model="form.manager_name"/>
            </div>
        </div>
        <!--所在城市-->
        <div class="form-group">
            <label class="col-sm-2 control-label">所在城市：</label>
            <div class="col-sm-10">
                <!--省-->
                <select ng-model="form.province">
                    <option>北京</option>
                </select>
                <!--市-->
                <select ng-model="form.city">
                    <option>北京</option>
                </select>
                <!--县-->
                <select ng-model="form-county">
                    <option>北京</option>
                </select>
            </div>
        </div>
        <!--详细地址-->
        <div class="form-group">
            <label class="col-sm-2 control-label">详细地址：</label>
            <div class="col-sm-10">
                <input type="text" ng-model="form.address" value=""/>
            </div>
        </div>
        <!--门店大图-->
        <div class="form-group">
            <label class="col-sm-2 control-label">
                门店大图：
            </label>
            <div class="col-sm-10">
                <div class="thumbnail">
                    <img src="{{form.icon}}" alt="ICON">
                    <input type="file" ng-model="form.icon"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <input type="button" ng-hide="option==='添加'" ng-click="edit()" value="编辑">
    <input type="button" ng-click="save()" value="保存"/>
    <input type="button" ng-click="cancel()" value="取消"/>
</div>