<!--主页/客户管理/客户档案列表/添加档案对话框-->
<div class="modal-header">
    添加档案
</div>
<div class="modal-body">
    <!--表单-->
    <form class="form-horizontal">
        <fieldset>
            <!--姓名-->
            <div class="form-group">
                <label class="col-sm-2 control-label"><a style="color: red;">*</a>姓名：</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.name"/>
                </div>
            </div>
            <!--性别-->
            <div class="form-group">
                <label class="col-sm-2 control-label"><a style="color: red;">*</a>性别：</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.gender" value=1 />先生
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.gender" value=2 />女士
                    </label>
                </div>
            </div>
            <!--电话-->
            <div class="form-group">
                <label class="col-sm-2 control-label"><a style="color: red;">*</a>电话：</label>
                <div class="col-sm-10">
                    <!--手机号列表-->
                    <div class="well well-sm">
                        <!--已添加手机号-->
                        <span class="label label-success" style="display: inline-block"
                              ng-click="form.phone.splice($index, 1)" ng-repeat="x in form.phone">
                        {{x}}<span class="glyphicon glyphicon-remove"></span>
                    </span>
                        <!--提示未添加手机号-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.phone.length===0">
                        未添加手机号<span class="glyphicon glyphicon-alert"></span>
                    </span>
                    </div>
                    <!--添加手机号【限制最多添加3个手机号】-->
                    <div class="input-group" ng-hide="form.phone.length===3">
                        <input type="text" ng-model="phone" placeholder="在此填写手机号"/>
                        <!--<span ng-show="form.name.$error.invalid" class="text-warning">请准确输入11位手机号码</span>-->
                        <input type="button" ng-click="form.phone.push(phone)" value="添加手机号"/>
                    </div>
                </div>
            </div>
            <!--生日-->
            <div class="form-group">
                <label class="col-sm-2 control-label">生日：</label>
                <div class="col-sm-10">
                    <input type="date" ng-model="form.birthday"/>
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.calendar" value=0 />公历
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.calendar" value=1 />农历
                    </label>
                </div>
            </div>
            <!--单位-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">单位：</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.unit"/>
                </div>
            </div>
            <!--职位-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">职位：</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.position"/>
                </div>
            </div>
            <!--现住址-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">现住址：</label>
                <div class="col-sm-10">
                    <!--省-->
                    <select class=" inline" ng-model="form.address.province">
                        <option>北京</option>
                    </select>
                    <!--市-->
                    <select class=" inline" ng-model="form.address.city">
                        <option>北京</option>
                    </select>
                    <!--县-->
                    <select class=" inline" ng-model="form.address.county">
                        <option>北京</option>
                    </select>
                    <!--小区-->
                    <select class=" inline" ng-model="form.address.block">
                        <option>北京</option>
                    </select>
                </div>
            </div>
            <!--籍贯-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">籍贯：</label>
                <div class="col-sm-10">
                    <!--省-->
                    <select class=" inline" ng-model="form.native.province">
                        <option>北京</option>
                    </select>
                    <!--市-->
                    <select class=" inline" ng-model="form.native.city">
                        <option>北京</option>
                    </select>
                </div>
            </div>
            <!--营销短信-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">营销短信：</label>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.sms_marketing" value="enabled"/>开
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.sms_marketing" value="disabled"/>关
                    </label>
                </div>
            </div>
            <!--分类方法-->
            <div class="form-group">
                <label class="col-sm-2 control-label">分类方法：</label>
                <div class="col-sm-10">
                    <select ng-model="form.classification_method">
                        <option ng-repeat="x in types" value="{{x}}">{{x}}</option>
                    </select>
                </div>
            </div>
            <!--病症-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">病症：</label>
                <div class="col-sm-10">
                    <!--病症列表-->
                    <div class="well well-sm">
                        <!--已添加标签-->
                        <span class="label label-success" style="display: inline-block"
                              ng-click="form.disease.splice($index, 1)" ng-repeat="x in form.disease">
                        {{x}}<span class="glyphicon glyphicon-remove"></span>
                    </span>
                        <!--提示未添加标签-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.disease.length===0">
                        无病症信息<span class="glyphicon glyphicon-alert"></span>
                    </span>
                    </div>
                    <!--添加标签【限制最多添加6个标签】-->
                    <div class="input-group" ng-hide="form.disease.length===6">
                        <input type="text" ng-model="disease" placeholder="在此填写病症"/>
                        <input type="button" ng-click="form.disease.push(disease)" value="添加"/>
                    </div>
                </div>
            </div>
            <!--喜好-->
            <div class="form-group">
                <label class="col-sm-2 control-label">喜好：</label>
                <div class="col-sm-10">
                    <!--喜好列表-->
                    <div class="well well-sm">
                        <!--已添加标签-->
                        <span class="label label-success" style="display: inline-block"
                              ng-click="form.like.splice($index, 1)" ng-repeat="x in form.like">
                        {{x}}<span class="glyphicon glyphicon-remove"></span>
                    </span>
                        <!--提示未添加标签-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.like.length===0">
                        无喜好信息<span class="glyphicon glyphicon-alert"></span>
                    </span>
                    </div>
                    <!--添加标签【限制最多添加6个标签】-->
                    <div class="input-group" ng-hide="form.like.length===6">
                        <input type="text" ng-model="like" placeholder="在此填写喜好"/>
                        <input type="button" ng-click="form.like.push(like)" value="添加"/>
                    </div>
                </div>
            </div>
            <!--忌口-->
            <div class="form-group">
                <label class="col-sm-2 control-label">忌口：</label>
                <div class="col-sm-10">
                    <!--忌口列表-->
                    <div class="well well-sm">
                        <!--已添加标签-->
                        <span class="label label-success" style="display: inline-block"
                              ng-click="form.dislike.splice($index, 1)" ng-repeat="x in form.dislike">
                        {{x}}<span class="glyphicon glyphicon-remove"></span>
                    </span>
                        <!--提示未添加标签-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.dislike.length===0">
                        无忌口信息<span class="glyphicon glyphicon-alert"></span>
                    </span>
                    </div>
                    <!--添加标签【限制最多添加6个标签】-->
                    <div class="input-group" ng-hide="form.dislike.length===6">
                        <input type="text" ng-model="dislike" placeholder="在此填写忌口"/>
                        <input type="button" ng-click="form.dislike.push(dislike)" value="添加"/>
                    </div>
                </div>
            </div>
            <!--纪念日-->
            <div class="form-group">
                <label class="col-sm-2 control-label">纪念日：</label>
                <div class="col-sm-10">

                </div>
            </div>
            <!--不良记录-->
            <div class="form-group hidden">
                <label class="col-sm-2 control-label">不良记录：</label>
                <div class="col-sm-10">
                    <textarea ng-model="form.bad_records"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <input class="btn btn-success btn-sm" type="button" ng-click="submit()" value="提交"/>
    <input class="btn btn-warning btn-sm" type="button" ng-click="cancel()" value="取消"/>
</div>