<!--主页/客户管理/客户档案列表/批量导出对话框-->
<div class="modal-header">
    批量导出
</div>
<div class="modal-body">
    <div class="panel-body">
        <!--表单-->
        <form class="form-horizontal">
            <fieldset>
                <!--按时间筛选-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" ng-model="form.by_time.checked"/>按时间筛选：</label>
                    <div class="col-sm-9">
                        <input class="form-control-sm mx-1" type="date" ng-model="form.by_time.interval.from"/>
                        ~
                        <input class="form-control-sm mx-1" type="date" ng-model="form.by_time.interval.to"/>
                        有订单客户
                    </div>
                </div>
                <!--按订单总量-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" name="form.by_amount.checked"/>按订单总量：</label>
                    <div class="col-sm-9">
                        <input class="form-control-sm mx-1" type="number" ng-model="form.by_amount.interval.from"/>
                        ~
                        <input class="form-control-sm mx-1" type="number" ng-model="form.by_amount.interval.to"/>
                        单
                    </div>
                </div>
                <!--按消费金额-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" ng-model="form.by_money.checked"/>按消费金额：</label>
                    <div class="col-sm-9">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="form.by_money.method" value="total" name="method"/>按消费总额
                                </label>
                                <!--按消费总额时显示-->
                                <div class="form-group form-group-sm" ng-show="form.by_money.method==='total'">
                                    <input class="form-control-sm mx-1" type="number" ng-model="form.by_money.interval.from"/>
                                    ~
                                    <input class="form-control-sm mx-1" type="number" ng-model="form.by_money.interval.to"/>
                                    元
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="form.by_money.method" value="average" name="method"/>按人均消费
                                </label>
                                <!--按人均消费时显示-->
                                <div class="form-group form-group-sm" ng-show="form.by_money.method==='average'">
                                    <input class="form-control-sm mx-1" type="number" ng-model="form.by_money.interval.from"/>
                                    ~
                                    <input class="form-control-sm mx-1" type="number" ng-model="form.by_money.interval.to"/>
                                    元
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--按维护渠道 TODO: 按维护渠道-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" ng-model="form.by_channel.checked"/>按维护渠道：</label>
                    <div class="col-sm-9">
                        <!--已选择渠道列表-->

                        <!--渠道列表-->

                    </div>
                </div>
                <!--按会员分类-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" ng-model="form.by_member_class.checked"/>按会员分类：</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="form.by_member_class.by" value="rmf"/>RMF活跃会员
                                </label>
                                <ul class="inline" ng-show="form.by_member_class.by==='rmf'">
                                    <li>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="member_class" value="0">流失
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="member_class" value="1">流失
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="member_class" value="2">流失
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="form.by_member_class.by" value="custom"/>自定义分类
                                </label>
                                <ul class="inline" ng-show="form.by_member_class.by==='custom'">
                                    <li>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="member_class" value="0">活跃
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="member_class" value="1">活跃
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="member_class" value="2">活跃
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--按餐段选择-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" ng-model="form.by_meal_period.checked"/>按餐段选择：</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.by_meal_period.period" value="lunch"/>午餐
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.by_meal_period.period" value="dinner"/>晚餐
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.by_meal_period.period" value="supper"/>夜宵
                        </label>
                    </div>
                </div>
                <!--按性别选择-->
                <div class="form-group">
                    <label class="col-sm-3 control-label"><input type="checkbox" ng-model="form.by_gender.checked"/>按性别选择：</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.by_gender.gender" value="male"/>先生
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="form.by_gender.gender" value="female"/>女士
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <input class="btn btn-primary btn-sm" ng-click="export()" value="导出客户档案"/>
    <input class="btn btn-secondary btn-sm" ng-click="export_all()" value="导出全部客户档案"/>
</div>
