<!--主页/账户管理/修改密码-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            修改密码
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="save()">
            <!--用户名-->
            <div class="control-group">
                <label class="control-label">用户名：</label>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="form.username" placeholder="10000000000"/>
                </div>
            </div>
            <!--密码-->
            <div class="control-group">
                <label class="control-label">密码：</label>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="form.password" placeholder="10000000000"/>
                </div>
            </div>
            <!--新密码-->
            <div class="control-group">
                <label class="control-label">新密码：</label>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="form.new_password" placeholder="10000000000"/>
                </div>
            </div>
            <!--新密码验证-->
            <div class="control-group">
                <label class="control-label">新密码验证：</label>
                <div class="controls">
                    <input class="form-control" type="text" ng-model="form.new_password_acc" placeholder="10000000000"/>
                </div>
            </div>
            <!--操作栏-->
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="保存"/>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>