<!--主页/账户管理/财务报表-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            财务报表
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">
            选择日期
            <label for="year">
                <select class="form-control form-control-sm mx-1" id="year" ng-model="option.selected_year">
                    <option ng-repeat="(k, v) in year" value="{{$index}}">{{v}}</option>
                </select> 年
            </label>
            <label for="month">
                <select class="form-control form-control-sm mx-1" id="month" ng-model="option.selected_month">
                    <option ng-repeat="(k, v) in month" value="{{$index}}">{{v}}</option>
                </select> 月
            </label>
            <input class="btn btn-sm btn-primary mx-1" type="button" ng-click="query()" value="查询"/>
        </div>
        <!--详细信息-->
        <div class="well well-sm">
            账户余额： ￥{{detail.rest}} 本月充值：{{detail.recharge}}
            短信费用： ￥{{detail.sms_cost}} 系统服务费：{{detail.service_cost}}
        </div>
        <!--表格-->
        <table class="table table-bordered table-hover small">
            <thead>
            <tr align="center">
                <td align="middle" rowspan="2">日期</td>
                <td align="middle" rowspan="2">充值</td>
                <!--支出-->
                <td align="middle" colspan="4">支出</td>
                <td align="middle" rowspan="2">账户余额</td>
            </tr>
            <tr align="center">
                <td>短信费用</td>
                <td>订单佣金 <a href="#">明细</a></td>
                <td>系统服务费</td>
                <td>合计</td>
            </tr>
            </thead>
            <tbody class="align-content-center">
            <tr ng-repeat="x in table">
                <td>{{x.date|date:"yyyy/mm/dd"}}</td>
                <td>{{x.recharge|currency:"￥"}}</td>
                <td>{{x.sms_cost|currency:"￥"}}</td>
                <td>{{x.order_cost|currency:"￥"}}</td>
                <td>{{x.service_cost|currency:"￥"}}</td>
                <td>{{x.sum|currency:"￥"}}</td>
                <td>{{x.rest|currency:"￥"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>