<!--主页/账户管理/餐厅基本信息-->
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--Tab-->
    <div class="tabbable">
        <!--HabHost-->
        <nav class="mb-2">
            <ul class="nav nav-tabs">
                <li class="nav-item p-2 active"><a data-target="#jbxx" role="tab" data-toggle="tab">基本信息</a></li>
                <li class="nav-item p-2"><a data-target="#cxxx" role="tab" data-toggle="tab">菜系信息</a></li>
                <li class="nav-item p-2"><a data-target="#jtxx" role="tab" data-toggle="tab">交通信息</a></li>
                <li class="nav-item p-2"><a data-target="#sz" role="tab" data-toggle="tab">设置</a></li>
            </ul>
        </nav>
        <!--TabContent-->
        <div class="tab-content">
            <!--基本信息-->
            <div class="tab-pane active" role="tabpanel" id="jbxx">
                <!--表单-->
                <form class="form-horizontal">
                    <!--酒店基本信息-->
                    <div id="legend" class="col-form-legend">
                        <legend class="">酒店基本信息</legend>
                    </div>
                    <!--餐厅名称-->
                    <div class="control-group">
                        <label class="control-label">餐厅名称：</label>
                        <div class="controls">
                            {{hotel.name}}
                        </div>
                    </div>
                    <!--所在城市-->
                    <div class="control-group">
                        <label class="control-label">所在城市：</label>
                        <div class="controls">
                            <!--省-->
                            <select class="inline">
                                <option>北京</option>
                            </select>
                            <!--市-->
                            <select class="inline">
                                <option>北京</option>
                            </select>
                            <!--县-->
                            <select class="inline">
                                <option>北京</option>
                            </select>
                        </div>
                    </div>
                    <!--详细地址-->
                    <div class="control-group">
                        <label class="control-label">详细地址：</label>
                        <div class="controls">
                            <input type="text" ng-model="hotel.address" value=""/>
                        </div>
                    </div>
                    <!--预订电话-->
                    <div class="control-group">
                        <label class="control-label">预订电话：</label>
                        <div class="controls">
                            <label>
                                <input type="text" ng-model="phone" value=""/>多个电话号码请用','分隔
                            </label>
                        </div>
                    </div>
                    <!--餐厅面积-->
                    <div class="control-group">
                        <label class="control-label">餐厅面积：</label>
                        <div class="controls">
                            <input type="text" ng-model="hotel.space" value="1700"/> 平米
                        </div>
                    </div>
                    <!--人均消费-->
                    <div class="control-group">
                        <label class="control-label">人均消费：</label>
                        <div class="controls">
                            <input class="mr-1" type="text" ng-model="min_cost" value="1200"/> 元/人 ~
                            <input class="mx-1" type="text" ng-model="max_cost" value="1700"/> 元/人
                        </div>
                    </div>
                    <!--餐厅设施-->
                    <div class="control-group">
                        <label class="control-label">餐厅设施：</label>
                        <div class="controls">
                            <div class="inline">
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="1">万事达(Master)</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="2">可以刷卡</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="3">有停车位</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="4">全场禁烟</label>
                            </div>
                            <div class="inline">
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="5">区分烟区</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="6">无线上网</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="7">露天位</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="8">有舞台</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="9">有表演</label>
                            </div>
                            <div class="inline">
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="10">下午茶</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="11">夜宵</label>
                                <label class="checkbox inline"><input type="checkbox" name="facility" value="12">四合院</label>
                            </div>
                        </div>
                    </div>
                    <!--可以刷卡-->
                    <div class="control-group">
                        <label class="control-label">可以刷卡：</label>
                        <div class="controls">
                            <label class="checkbox inline"><input type="checkbox" ng-model="VISA" value="2">VISA</label>
                            <label class="checkbox inline"><input type="checkbox" ng-model="UnionPay" value="3">银联卡</label>
                        </div>
                    </div>
                    <!--上传Logo-->
                    <div class="control-group">
                        <label class="control-label">上传Logo：</label>
                        <div class="controls">
                            <div class="py-2">
                                <img src="/static/bootstrap/css/img/glyphicons-halflings.png">
                            </div>
                            <div class="py-2">
                                <input class="btn btn-primary btn-sm" type="file" ng-model="logo" value="上传Logo"/>
                                <input class="btn btn-primary btn-sm" type="button" value="清除Logo"/>
                            </div>
                        </div>
                    </div>
                    <!--上传大图-->
                    <div class="control-group">
                        <label class="control-label">上传大图：</label>
                        <div class="controls">
                            <div class="py-2">
                                <img src="/static/bootstrap/css/img/glyphicons-halflings.png">
                            </div>
                            <div class="py-2">
                                <input class="btn btn-primary btn-sm" type="file" ng-model="image" value="上传图片"/>
                            </div>
                        </div>
                    </div>
                    <!--提交-->
                    <div class="control-group">
                        <label class="control-label"></label>
                        <div class="controls">
                            <div class="py-2">
                                <button class="btn btn-primary btn-sm">提交</button>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
            <!--菜系信息-->
            <div class="tab-pane" role="tabpanel" id="cxxx">
                <div class="row">
                    <div class="col-3">
                        菜系列表
                        <select id="meal-class">
                            <option>菜系</option>
                            <option>菜系</option>
                            <option>菜系</option>
                            <option>菜系</option>
                            <option>菜系</option>
                            <option>菜系</option>
                            <option>菜系</option>
                        </select>
                        <select class="selector">
                            <option>菜A</option>
                            <option>菜A</option>
                            <option>菜A</option>
                            <option>菜A</option>
                            <option>菜A</option>
                            <option>菜A</option>
                        </select>
                        <input type="text" name="meal-class"/>
                        <input type="button" id="add" value="添加">
                    </div>
                    <div class="col-3">
                        已选菜系
                    </div>
                </div>
            </div>
            <!--交通信息-->
            <div class="tab-pane" role="tabpanel" id="jtxx">
                <!--详细信息-->
                <div class="p-2 mb-2 bg-success">
                    <a>餐厅电子地图</a>
                </div>
                <!--坐标栏-->
                <div class="p-2 mb-2 bg-success">
                    <div class="control-group form-inline">
                        <!--经度-->
                        <div class="input-group">
                            经度： <input class="controls" type="text" placeholder=""/>
                        </div>
                        <!--纬度-->
                        <div class="input-group">
                            纬度： <input class="controls" type="text" placeholder=""/>
                        </div>
                    </div>
                </div>
                <!--地址-->
                <div class="p-2 mb-2 bg-success">
                    <a>地址：北京市丰台区靛厂路48号院</a>
                </div>
                <!--百度地图-->
                <div class="p-2 mb-2 bg-success">
                    <img src="/static/bootstrap/css/img/glyphicons-halflings.png" width="469" height="133"/>
                </div>
                <!--操作栏-->
                <div class="p-2 mb-2 bg-success">
                    <button class="btn btn-primary btn-sm">提交</button>
                </div>
            </div>
            <!--设置-->
            <div class="tab-pane" role="tabpanel" id="sz">
                设置
            </div>
        </div>
    </div>
</div>