<!--主页/账户管理/餐厅基本信息-->
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--HabHost-->
    <nav class="mb-2">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item p-2 active"><a href="#jbxx" role="tab" data-toggle="tab">基本信息</a></li>
            <li class="nav-item p-2"><a href="#cxxx" role="tab" data-toggle="tab">菜系信息</a></li>
            <li class="nav-item p-2"><a href="#jtxx" role="tab" data-toggle="tab">交通信息</a></li>
            <li class="nav-item p-2"><a href="#sz" role="tab" data-toggle="tab">设置</a></li>
        </ul>
    </nav>
    <!--TabContent-->
    <div class="tab-content">
        <!--基本信息-->
        <div class="tab-pane active" role="tabpanel" id="jbxx">
            <form class="form-horizontal">
                <fieldset>
                    <div id="legend" class="">
                        <legend class="">表单名</legend>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Inline Checkboxes</label>

                        <!-- Multiple Checkboxes -->
                        <div class="controls">
                            <label class="checkbox inline">
                                <input type="checkbox" value="1"> 1
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" value="2"> 2
                            </label>
                            <label class="checkbox inline">
                                <input type="checkbox" value="3"> 3
                            </label>
                        </div>

                    </div>
                    <div class="control-group">
                        <label class="control-label">Inline radios</label>
                        <div class="controls">

                            <!-- Inline Radios -->
                            <label class="radio inline">
                                <input type="radio" value="1" checked="checked" name="group">
                                1
                            </label>
                            <label class="radio inline">
                                <input type="radio" value="2" name="group">
                                2
                            </label>
                            <label class="radio inline">
                                <input type="radio" value="3">
                                3
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Button</label>

                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success">Button</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--菜系信息-->
        <div class="tab-pane" role="tabpanel" id="cxxx">
            菜系信息
        </div>
        <!--交通信息-->
        <div class="tab-pane" role="tabpanel" id="jtxx">
            交通信息
        </div>
        <!--设置-->
        <div class="tab-pane" role="tabpanel" id="sz">
            设置
        </div>
    </div>
</div>