<!--主页/账户管理/短信详单-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <div class="form-inline p-1">
            <label for="date-from">发送日期：</label>
            <input type="date" id="date-from" value="2017-06-09"/>
            <label for="date-to">~</label>
            <input type="date" id="date-to" value="2017-06-09"/>
            <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" value="查询"/>
        </div>
    </div>
</div>
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <div class="tabbable">
        <!--HabHost-->
        <nav class="mb-2">
            <!--等宽Tab-->
            <ul class="nav nav-pills nav-justified" role="tablist">
                <li class="p-2 active"><a href="#yxdx" role="tab" data-toggle="tab">营销短信</a></li>
                <li class="p-2"><a href="#tzdx" role="tab" data-toggle="tab">通知短信</a></li>
                <li class="p-2"><a href="#wxts" role="tab" data-toggle="tab">微信推送</a></li>
            </ul>
        </nav>
        <!--详细信息-->
        <!--<div class="p-2 mb-2 bg-success">-->
            <!--<a>06-01～06-08 微信推送：8443条</a>-->
        <!--</div>-->
        <!--TabContent-->
        <div class="tab-content">
            <!--营销短信-->
            <div class="tab-pane active" role="tabpanel" id="yxdx">
                <table class="table table-bordered table-hover small table-responsive">
                    <thead class="bg-info">
                    <tr align="middle">
                        <td align="middle">发送时间</td>
                        <td align="middle">手机号码</td>
                        <td align="middle">短信内容</td>
                        <td align="middle">短信条数</td>
                    </tr>
                    </thead>
                    <tbody class="align-content-center">
                    <tr class="table-info">
                        <td>2017年6月8日11:19:29</td>
                        <td>18800184976</td>
                        <td>尊敬的高女士您好： 6月8日周四午宴已为您安排在【北京宴总店】VIP505房间, 恭候您的光临! 【地址】：北京市丰台区靛厂路中段【欧式建筑】 【路线】：长安街东向西到万寿路左转向南过金家村桥第二个红绿灯右转（西）靛厂路直行800米路北欧式建筑； 【导航】：http://dwz.cn/3HO8b8 【电话】：010-88177777 北京宴·中国服务</td>
                        <td>尊敬的高女士您好： 6月8日周四午宴已为您安排在【北京宴总店】VIP505房间, 恭候您的光临! 【地址】：北京市丰台区靛厂路中段【欧式建筑】 【路线】：长安街东向西到万寿路左转向南过金家村桥第二个红绿灯右转（西）靛厂路直行800米路北欧式建筑； 【导航】：http://dwz.cn/3HO8b8 【电话】：010-88177777 北京宴·中国服务</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--通知短信-->
            <div class="tab-pane" role="tabpanel" id="tzdx">
                <table class="table table-bordered table-hover small table-responsive">
                    <thead class="bg-info">
                    <tr align="middle">
                        <td align="middle">发送时间</td>
                        <td align="middle">手机号码</td>
                        <td align="middle">短信内容</td>
                        <td align="middle">短信条数</td>
                    </tr>
                    </thead>
                    <tbody class="align-content-center">
                    <tr class="table-info">
                        <td>2017年6月8日11:19:29</td>
                        <td>18800184976</td>
                        <td>尊敬的高女士您好： 6月8日周四午宴已为您安排在【北京宴总店】VIP505房间, 恭候您的光临! 【地址】：北京市丰台区靛厂路中段【欧式建筑】 【路线】：长安街东向西到万寿路左转向南过金家村桥第二个红绿灯右转（西）靛厂路直行800米路北欧式建筑； 【导航】：http://dwz.cn/3HO8b8 【电话】：010-88177777 北京宴·中国服务</td>
                        <td>尊敬的高女士您好： 6月8日周四午宴已为您安排在【北京宴总店】VIP505房间, 恭候您的光临! 【地址】：北京市丰台区靛厂路中段【欧式建筑】 【路线】：长安街东向西到万寿路左转向南过金家村桥第二个红绿灯右转（西）靛厂路直行800米路北欧式建筑； 【导航】：http://dwz.cn/3HO8b8 【电话】：010-88177777 北京宴·中国服务</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--微信推送-->
            <div class="tab-pane" role="tabpanel" id="wxts">
                <table class="table table-bordered table-hover small table-responsive">
                    <thead class="bg-info">
                    <tr align="middle">
                        <td align="middle">发送时间</td>
                        <td align="middle">微信昵称</td>
                        <td align="middle">姓名/电话</td>
                        <td align="middle">推送内容</td>
                    </tr>
                    </thead>
                    <tbody class="align-content-center">
                    <tr class="table-info">
                        <td>2017年6月8日11:19:29</td>
                        <td>北京宴张芸智</td>
                        <td>张芸智 17710239010</td>
                        <td> 新订单：您负责区域有客户预订，请关注！ 客户级别： 客户信息：王先生 18911274277 到店时间：2017年06月08日 12:00 预订包间：516 接单人：巩倩倩 请做好接待服务准备。</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>