<!--主页/预订管理/桌位设置-->
<!--操作栏-->
<div class="py-1 bg-info">
    <!--桌位导航栏-->
    <nav class="nav nav-tabs bg-info">
        <!--<a ng-if="index=0" class="nav-link active" href="#/Reserve/AreaDesk/Area/{{x.value}}">{{x.name}}</a>-->
        <li ng-repeat="x in area"><a class="nav-link" ng-click="nav($index)">{{x.name}}</a></li>
    </nav>
    <!--操作栏-->
    <div class="p-2 bg-success">
        <a id="details">全部桌位，共{{seat.length}}个 注：序号数值越大，则优先推荐</a>
        <input class="btn btn-sm btn-secondary ml-2 mr-1" type="button" ng-click="add_seat()" value="新增桌位"/>
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" ng-click="save()" value="保存"/>
    </div>
</div>
<!--内容-->
<div class="py-2 px-2 bg-info">
    <!--表格-->
    <form class="form-group">
        <!--表格-->
        <table class="table table-bordered table-hover small">
            <thead class="bg-info">
            <tr>
                <td>桌位名称</td>
                <td>就餐人数</td>
                <td>费用</td>
                <td>排序</td>
                <td>是否靠窗</td>
                <td>类型</td>
                <td>设施</td>
                <td>相关操作</td>
                <td>营销APP</td>
                <td>网络预订</td>
            </tr>
            </thead>
            <tbody class="align-content-center" id="seat-table">
            <tr class="table-info" ng-repeat="x in seat">
                <td><input type="text" name="order" ng-model="x.name" value="{{x.name}}"/></td>
                <td>{{x.min}} 人 至 {{x.max}} 人</td>
                <td>1000元</td>
                <td><input type="text" name="order" ng-model="x.order" value="{{x.order}}"/></td>
                <td>
                    <label>
                        <input type="checkbox" name="window" data-link="window">靠窗
                    </label>
                </td>
                <td>{{x.type}}</td>
                <td>无</td>
                <td>
                    <a ng-click="edit(x.value)">修改</a>
                    <label><input type="checkbox" ng-model="x.enable" value="{{x.enable}}"/>停用/开启</label>
                </td>
                <td>
                    <label>
                        <input type="checkbox" ng-model="x.app" value="{{x.app}}"/>开启
                    </label>
                </td>
                <td>
                    <label>
                        <input type="checkbox" ng-model="x.web" value="{{x.web}}"/>开启
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="(k, v) in pages"><a href="#{{v}}">{{v}}</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </form>
</div>