<!--主页/预订管理/桌位设置-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            桌位设置
        </div>
    </div>
    <div class="panel-body">
        <!--桌位导航栏-->
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav nav-tabs">
                    <li class="nav-item" ng-repeat="x in area.list|filter:{is_enabled:true}|orderBy:'order'">
                        <a ng-click="nav(x.area_id)">{{x.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--提示信息-->
        <div class="well well-sm">
            全部桌位，共{{desk.list.length}}个 注：序号数值越大，则优先推荐
        </div>
        <!--表格-->
        <table class="table table-bordered table-hover small">
            <thead>
            <tr>
                <td>桌位名称</td>
                <td>就餐人数</td>
                <td>费用</td>
                <td>排序</td>
                <td>是否靠窗</td>
                <td>类型</td>
                <td>设施</td>
                <td>相关操作</td>
                <td class="hidden">营销APP</td>
                <td class="hidden">网络预订</td>
            </tr>
            </thead>
            <tbody id="desk-table">
            <tr ng-repeat="x in desk.list">
                <td style="width: 80px"><input type="text" ng-model="x.number" value="{{x.number}}"/></td>
                <td>{{x.min_guest_num}} 人 至 {{x.max_guest_num}} 人</td>
                <td style="width: 320px">
                    <!--费用列表-->
                    <span class="label label-info" style="display: inline-block" ng-repeat="y in x.expense">
                        {{y.name}}:{{y.value|currency:'¥'}}
                    </span>
                </td>
                <td style="width: 80px">
                    <input type="text" ng-model="x.order" value="{{x.order}}"/>
                </td>
                <td>
                    <label class="control-label">
                        <input type="checkbox" name="window" ng-model="x.is_beside_window">靠窗
                    </label>
                </td>
                <td>{{x.type}}</td>
                <td style="width: 120px">
                    <!--设施列表-->
                    <span class="label label-success" style="display: inline-block;" ng-repeat="y in x.facility">{{y}}</span>
                    <!--无设施提示-->
                    <span class="label label-success" ng-show="x.facility.length===0">未添加设施</span>
                </td>
                <td>
                    <a class="btn btn-link btn-sm" ng-click="editDesk(x)">编辑</a>
                    <label><input type="checkbox" ng-model="x.is_enable"/>停用/开启</label>
                </td>
                <td class="hidden">
                    <label>
                        <input type="checkbox" ng-model="x.app" value="{{x.app}}"/>开启
                    </label>
                </td>
                <td class="hidden">
                    <label>
                        <input type="checkbox" ng-model="x.web" value="{{x.web}}"/>开启
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="(k, v) in pages"><a href="#{{v}}">{{v}}</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!--操作栏-->
        <form class="navbar-form">
            <input class="btn btn-sm btn-secondary ml-2 mr-1" type="button" ng-click="addDesk()" value="新增桌位"/>
            <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" ng-click="save()" value="保存"/>
        </form>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>