<!--主页/预订管理/自动推荐桌位-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            自动推荐桌位
        </div>
    </div>
    <div class="panel-body">
        <!--操作栏-->
        <div class="well well-sm form-inline">
            <label for="count">选择就餐人数
                <select class="form-control form-control-sm" id="count" ng-change="change(selected_count)" ng-model="selected_count">
                    <option ng-repeat="x in numbers" value="{{x}}">{{x}}</option>
                </select>
            </label>
            符合 {{selected_count}} 人桌位共{{desk.count}}个 注：序号数值越大，则优先推荐
        </div>
        <!--表格-->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>桌位名称</td>
                <td>就餐人数</td>
                <td>费用</td>
                <td>排序</td>
                <td>描述</td>
                <td>类型</td>
                <td>设施</td>
                <td>预定推荐</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in desk.list">
                <td> {{x.number}} (图)</td>
                <td> {{x.min_guest_num}} 人 至 {{x.max_guest_num}} 人</td>
                <td style="width: 320px">
                    <!--费用列表-->
                    <span class="label label-info" style="display: inline-block" ng-repeat="y in x.expense">
                        {{y.name}}:{{y.value|currency:'¥'}}
                    </span>
                </td>
                <td>
                    <input class="text-center" type="text" ng-model="x.order" value="{{x.order}}"/>
                </td>
                <td>{{x.description}}</td>
                <td>{{x.type}}</td>
                <td>
                    <!--设施列表-->
                    <span class="label label-success" style="display: inline-block;" ng-repeat="y in x.facility">{{y}}</span>
                    <!--无设施提示-->
                    <span class="label label-success" ng-show="x.facility.length===0">未添加设施</span>
                </td>
                <td>
                    <span class="form-check-label">
                        <input type="checkbox" ng-model="x.is_enabled"/>开启
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="(k,v) in pages"><a href="#{{v}}">{{v}}</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="panel-footer">
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" id="save" ng-click="save()" value="保存"/>
    </div>
</div>