<!--主页/预订管理/餐位设置-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <a>>全部桌位，共7个</a>
        <input class="btn btn-sm btn-secondary ml-1 mr-2" type="button" id="addarea" value="新增餐位"/>
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" id="save" value="保存"/>
    </div>
</div>
<!--表格-->
<div class="py-2 px-2 bg-info">
    <form class="form-group">
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
            <tr>
                <td>状态</td>
                <td>餐厅区域</td>
                <td>排序</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody class="align-content-center" id="area">

            </tbody>
        </table>
        <!--<input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable" checked="checked"/>-->
    </form>
</div>
<script type="text/javascript">
    alert("加载餐位设置！");
    $.ready(function () {
        $.templates("#areaTemplate").link("#area", BanquetExpert.area);
        $("#addarea").click(function () {
            alert("新增餐位");
        });
        $("#save").click(function () {
            alert("保存");
        });
    });
</script>