<!--主页/预订管理/餐位设置-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            餐位设置
            <small>(共{{data.list.length}}个桌位)</small>
        </div>
    </div>
    <div class="panel-body">
        <!--表格-->
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td>状态</td>
                <td>餐厅区域</td>
                <td>排序</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody id="area-info-table">
            <tr ng-repeat="x in data.list">
                <td>应用</td>
                <td><input type="text" ng-model="x.name"/></td>
                <td><input type="text" ng-model="x.order"/></td>
                <td>
                    <label><input type="checkbox" ng-model="x.is_enabled"/>启用</label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <input class="btn btn-sm btn-secondary ml-1 mr-2" type="button" ng-click="data.list.push({
                        name: data.list.length + '楼',
                        order: data.list.length
                    })" value="新增区域"/>
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" ng-click="save()" value="保存"/>
    </div>
</div>