<!--主页/预订管理/餐段设置-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <a>>餐段设置</a>
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" value="保存"/>
    </div>
</div>
<!--内容-->
<div class="py-2 px-2 bg-info">
    <!--表格-->
    <form class="form-group">
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
            <tr>
                <td>餐段</td>
                <td>午餐</td>
                <td>晚餐</td>
                <td>夜宵</td>
            </tr>
            </thead>
            <tbody class="align-content-center" id="MealsTime">
            <tr class="table-info">
                <td>星期一</td>
                <td>
                    <select name="lunch_from">
                        <option>午餐08:30</option>
                        <option>午餐09:30</option>
                        <option>午餐10:30</option>
                        <option>午餐11:30</option>
                    </select>
                    ~
                    <select name="lunch_to">
                        <option>午餐08:30</option>
                        <option>午餐09:30</option>
                        <option>午餐10:30</option>
                        <option>午餐11:30</option>
                    </select>
                </td>
                <td>
                    <select name="dinner_from">
                        <option>晚餐08:30</option>
                        <option>晚餐09:30</option>
                        <option>晚餐10:30</option>
                        <option>晚餐11:30</option>
                    </select>
                    ~
                    <select name="dinner_to">
                        <option>晚餐08:30</option>
                        <option>晚餐09:30</option>
                        <option>晚餐10:30</option>
                        <option>晚餐11:30</option>
                    </select>
                </td>
                <td>
                    <select name="supper_from">
                        <option>夜宵08:30</option>
                        <option>夜宵09:30</option>
                        <option>夜宵10:30</option>
                        <option>夜宵11:30</option>
                    </select>
                    ~
                    <select name="supper_to">
                        <option>晚餐08:30</option>
                        <option>晚餐09:30</option>
                        <option>晚餐10:30</option>
                        <option>晚餐11:30</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script id="MealsTimeTemplate" type="text/x-jsrender">
{{for }}
    <tr class="table-info">
    <td>{{:dayofweek}}</td>
    {{props meals}}
        <td>
            <select name="lunch_from">
                <option>午餐08:30</option>
                <option>午餐09:30</option>
                <option>午餐10:30</option>
                <option>午餐11:30</option>
            </select>
            ~
            <select name="lunch_to">
                <option>午餐08:30</option>
                <option>午餐09:30</option>
                <option>午餐10:30</option>
                <option>午餐11:30</option>
            </select>
        </td>
    {{/for}}
{{/for }}

</script>
<script>
    var MealsTime = [
        {
            dayofweek: "星期一",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        },
        {
            dayofweek: "星期二",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        },
        {
            dayofweek: "星期三",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        },
        {
            dayofweek: "星期四",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        },
        {
            dayofweek: "星期五",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        },
        {
            dayofweek: "星期六",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        },
        {
            dayofweek: "星期日",
            meals: [
                {
                    lunch: {from: "09:00", to: "09:00"},
                    dinner: {from: "09:00", to: "09:00"},
                    supper: {from: "09:00", to: "09:00"}
                }
            ]
        }
    ];
    $.templates("#MealsTimeTemplate").link("#MealsTime", MealsTime);
//    alert("餐段设置");
</script>