<!--主页/预订管理-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            门店信息
        </div>
    </div>
    <div class="panel-body">
        <!--表单-->
        <form class="form-horizontal">
            <!--门店名称-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    门店名称：
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.name" disabled/>
                </div>
            </div>
            <!--门店老板-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    门店老板：
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.manager_name" disabled/>
                    <!--<select ng-model="form.staff_id">-->
                        <!--<optgroup label="职工列表"></optgroup>-->
                        <!--<option ng-repeat="x in staff.list" value={{x.staff_id}}>{{x.name}}</option>-->
                    <!--</select>-->
                </div>
            </div>
            <!--所在城市-->
            <div class="form-group">
                <label class="col-sm-2 control-label">所在城市：</label>
                <div class="col-sm-10">
                    <!--省-->
                    <select ng-model="form.province">
                        <option>北京</option>
                    </select>
                    <!--市-->
                    <select ng-model="form.city">
                        <option>北京</option>
                    </select>
                    <!--县-->
                    <select ng-model="form.county">
                        <option>北京</option>
                    </select>
                </div>
            </div>
            <!--详细地址-->
            <div class="form-group">
                <label class="col-sm-2 control-label">详细地址：</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.address" value=""/>
                </div>
            </div>
            <!--电话【3个】-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    电话：
                </label>
                <div class="col-sm-10">
                    <!--手机号列表-->
                    <div class="well well-sm">
                        <!--已添加手机号-->
                        <span class="label label-success" style="display: inline-block"
                              ng-click="form.phone.splice($index, 1)" ng-repeat="x in form.phone">
                        {{x}}<span class="glyphicon glyphicon-remove"></span>
                    </span>
                        <!--提示未添加手机号-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.phone.length===0">
                        未添加手机号<span class="glyphicon glyphicon-alert"></span>
                    </span>
                    </div>
                    <!--添加手机号【限制最多添加3个手机号】-->
                    <div class="input-group" ng-hide="form.phone.length===3">
                        <input type="text" ng-model="phone" placeholder="请输入手机号"/>
                        <input type="button" ng-click="form.phone.push(phone)" value="添加手机号"/>
                    </div>
                </div>
            </div>
            <!--设施【12个，可自定义标签】-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    设施：
                </label>
                <div class="col-sm-10">
                    <!--设施列表-->
                    <div class="well well-sm">
                        <!--已选择设施列表-->
                        <span class="label label-success" style="display: inline-block" ng-repeat="x in form.facility">
                        {{x}}
                            <!--取消选择-->
                        <span class="glyphicon glyphicon-remove" ng-click="facilities.push(x); form.facility.splice($index, 1)"></span>
                    </span>
                        <!--提示未添加设施-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.facility.length===0">
                        未添加设施标签<span class="glyphicon glyphicon-alert"></span>
                    </span>
                        <!--未选择设施列表-->
                        <span class="label label-primary" style="display: inline-block" ng-repeat="x in facilities">
                        {{x}}
                            <!--选择标签-->
                        <span class="glyphicon glyphicon-ok" ng-click="form.facility.push(x); facilities.splice($index, 1)"></span>
                            <!--删除标签-->
                        <span class="glyphicon glyphicon-remove" ng-click="facilities.splice($index, 1)"></span>
                    </span>
                    </div>
                    <!--添加设施【限制最多添加12个设施】-->
                    <div class="input-group" ng-hide="form.facility.length + facilities.length===12">
                        <input type="text" ng-model="facility" placeholder="请填写设施名称"/>
                        <!--添加设施到未选择列表-->
                        <input type="button" ng-click="facilities.push(facility)" value="添加设施"/>
                    </div>
                </div>
            </div>
            <!--支付方式【6个，可自定义标签】-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    支付方式：
                </label>
                <div class="col-sm-10">
                    <!--支付方式列表-->
                    <div class="well well-sm">
                        <!--已选择支付方式列表-->
                        <span class="label label-success" style="display: inline-block" ng-repeat="x in form.pay_card">
                        {{x}}
                            <!--取消选择-->
                        <span class="glyphicon glyphicon-remove" ng-click="pay_cards.push(x); form.pay_card.splice($index, 1)"></span>
                    </span>
                        <!--提示未添加支付方式-->
                        <span class="label label-warning" style="display: inline-block" ng-show="form.pay_card.length===0">
                        未添加支付方式<span class="glyphicon glyphicon-alert"></span>
                    </span>
                        <!--未选择支付方式列表-->
                        <span class="label label-primary" style="display: inline-block" ng-repeat="x in pay_cards">
                        {{x}}
                            <!--选择标签-->
                        <span class="glyphicon glyphicon-ok" ng-click="form.pay_card.push(x); pay_cards.splice($index, 1)"></span>
                            <!--删除标签-->
                        <span class="glyphicon glyphicon-remove" ng-click="pay_cards.splice($index, 1)"></span>
                    </span>
                    </div>
                    <!--添加支付方式【限制最多添加6种支付方式】-->
                    <div class="input-group" ng-hide="form.pay_card.length===6">
                        <input type="text" ng-model="pay_card" placeholder="请填写支付方式"/>
                        <!--添加支付方式到未选择列表-->
                        <input type="button" ng-click="pay_cards.push(pay_card)" value="添加支付方式"/>
                    </div>
                </div>
            </div>
            <!--菜系-->
            <!--门店大图-->
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    门店大图：
                </label>
                <div class="col-sm-10">
                    <div class="thumbnail">
                        <img src="{{form.icon}}" alt="ICON">
                        <input type="file" ng-value=""/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <input class="btn btn-primary btn-sm" type="button" ng-click="save()" value="保存"/>
    </div>
</div>