<!--主页/预订管理/自动推荐桌位-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <label for="count">>选择就餐人数 </label>
        <select class="form-control-sm" id="count">
            <option selected="selected">2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
        </select>
        <a> 符合18人桌位共5个 注：序号数值越大，则优先推荐</a>
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" value="保存"/>
    </div>
</div>
<!--表格-->
<div class="py-2 px-2 bg-info">
    <form class="form-group small">
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
            <tr>
                <td>桌位名称</td>
                <td>就餐人数</td>
                <td>费用</td>
                <td>排序</td>
                <td>区域名称</td>
                <td>类型</td>
                <td>设施</td>
                <td>预定推荐</td>
            </tr>
            </thead>
            <tbody class="align-content-center">
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            <tr class="table-info">
                <td>501 (图)</td>
                <td>2 人 至 4 人</td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="￥100" name="fee" id="fee"/>
                </td>
                <td>
                    <input class="form-control form-control-sm text-center" type="text" value="1" name="order" id="order"/>
                </td>
                <td>五楼</td>
                <td>豪华包间</td>
                <td>卡拉ok 可棋牌 液晶电视</td>
                <td>
                                    <span class="form-check-label">
                                    <input class="form-check-input form-control-sm" type="checkbox" value="启用" name="enable"/>
                                        开启
                                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>