<!--主页/预订管理/自动推荐桌位-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success">
        <label for="count">>选择就餐人数 </label>
        <select id="count" ng-init="selectCount=0" ng-change="change(selectCount)" ng-model="selectCount">
            <option ng-repeat="x in NumberList" value="{{x.value}}">{{x.value}}</option>
        </select>
        <a> 符合 {{selectCount}} 人桌位共{{resultCount}}个 注：序号数值越大，则优先推荐</a>
        <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" id="save" ng-click="save()" value="保存"/>
    </div>
</div>
<!--表格-->
<div class="py-2 px-2 bg-info">
    <!--表单-->
    <form class="form-group small">
        <!--表格-->
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
            <tr>
                <td>桌位名称</td>
                <td>就餐人数</td>
                <td>费用</td>
                <td>排序</td>
                <td>区域名称</td>
                <td>类型</td>
                <td>设施</td>
                <td>预定推荐</td>
            </tr>
            </thead>
            <tbody class="align-content-center">
            <tr class="table-info" ng-repeat="x in seats">
                <td> {{x.name}}(图)</td>
                <td> {{x.min}} 人 至 {{x.max}} 人</td>
                <td>
                    <input class="text-center" type="text" ng-model="x.value" value="{{x.value}}"/>
                </td>
                <td>
                    <input class="text-center" type="text" ng-model="x.order" value="{{x.order}}"/>
                </td>
                <td>{{x.area}}</td>
                <td>{{x.type}}</td>
                <td>{{x.type}}</td>
                <td>
                    <span class="form-check-label">
                        <input type="checkbox" ng-model="x.enable" value="{{x.enable}}"/>开启
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
        <!--分页导航-->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="(k,v) in pages"><a href="#{{v}}">{{v}}</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </form>
</div>
<script>

</script>