<!--主页/预订管理/自动推荐桌位-->
<!--操作栏-->
<div class="py-1 bg-info">
    <div class="p-2 bg-success" id="option">

    </div>
</div>
<!--表格-->
<div class="py-2 px-2 bg-info">
    <form class="form-group small">
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
            <tr>
                <td>桌位名称</td>
                <td>就餐人数</td>
                <td>费用</td>
                <td>排序</td>
                <td>区域名称</td>
                <td>类型</td>
                <td>设施</td>
                <td>预定推荐</td>
            </tr>
            </thead>
            <tbody class="align-content-center" id="seat-table">

            </tbody>
        </table>
    </form>
</div>
<script id="OptionTemplate" type="text/x-jsrender">
    <label for="count">>选择就餐人数 </label>
    <select class="form-control-sm" data-link="{:min}" id="count">
        {^{range start=1 end=28}}
            <option>{{:#data}}</option>
        {{/range}}
    </select>
    <a> 符合{^{:min}}人桌位共{^{:count}}个 注：序号数值越大，则优先推荐</a>
    <input class="btn btn-sm btn-primary ml-1 mr-2" type="button" id="save" value="保存"/>
</script>
<script id="SeatTableTemplate" type="text/x-jsrender">
    {^{for seats}}
        <tr class="table-info">
            <td>{{:name}} (图)</td>
            <td>{{:min}} 人 至 {{:max}} 人</td>
            <td>
                <input class="form-control form-control-sm text-center" type="number" data-link="value" />
            </td>
            <td>
                <input class="form-control form-control-sm text-center" type="number" data-link="order" />
            </td>
            <td>{{:area}}</td>
            <td>类型</td>
            <td>设施</td>
            <td>
                <span class="form-check-label">
                    <input type="checkbox" data-link="enable" name="enable"/>开启
                </span>
            </td>
        </tr>
    {{/for }}
</script>
<script>

    var seats = [];
    var data = {
        range: {min: 10, count: 0},
        seats: []
    };

    // 初始化桌位列表
    $.each(BanquetExpert.area, function (index, area) {
        $.each(area.seat, function (index, seat) {
            seat.area = area.name;
            seats.push(seat);
        });
    });

    // 绑定模板
    $.templates("#OptionTemplate").link("#option", data.range);
    $.templates("#SeatTableTemplate").link("#seat-table", data);

    // 刷新列表和提示
    var refresh = function () {
        var min = $("#count").val();
        // 过滤数据
        $.observable(data.seats).refresh(seats.sort(function (a, b) {
            return a.order > b.order;
        }).filter(function (seat) {
            return seat.min <= min && seat.max >= min;
        }));
        // 更新提示
        $.observable(data.range).setProperty({min: min, count: data.seats.length});
    };

    // 事件处理
    $("#count").change(refresh);

    $("#save").click(function () {
        /***
         * TODO: 提交桌位列表
         */
        alert("保存：" + JSON.stringify(seats));
    });

    // 初始化就餐人数选项
    $.observable(data.range).setProperty({min: 5});
    // 刷新列表和提示
    refresh();

</script>