<!--主页/订单管理/历史订单/订单详情对话框-->
<div class="modal-header">
    订单详情
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--TabHost-->
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item active"><a data-target="#ddxx" role="tab" data-toggle="tab">订单信息</a></li>
                    <li class="nav-item"><a data-target="#czxx" role="tab" data-toggle="tab">操作信息</a></li>
                </ul>
            </nav>
        </div>
        <div class="panel-body">
            <div class="well well-sm">
                {{order.details.dinner_date}} {{order.dinner_period|dinner_period}}
            </div>
            <!--TabContent-->
            <div class="tab-content">
                <!--订单信息-->
                <div class="tab-pane active" id="ddxx" role="tabpanel">
                    <section class="text-info">
                        <p>桌位：<span class="label label-info" ng-repeat="x in order.details.desks">{{x.number}} </span></p>
                        <p>订单信息：{{order.details.name}} {{order.details.banquet}} {{order.details.contact}} </p>
                        <p>{{order.details.guest_number}} 人 {{order.details.guest_type}}客户</p>
                    </section>
                    <section class="text-info">
                        <p>用餐时间：{{order.details.meal_time}}</p>
                        <p>创建时间：{{order.details.create_time}} 操作员：{{order.details.staff_name}}</p>
                        <p>客到时间：{{order.details.arrival_time}}</p>
                        <p>结账时间：{{order.details.finish_time}}</p>
                        <p>消费金额：{{order.details.consumption}}</p>
                    </section>
                    <!--五张图片-->
                    <div class="row m-2">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" ng-repeat="(k, x) in order.details.pictures">
                            <div class="img-thumbnail" ng-click="check(k)">
                                <img class="img-responsive" ng-src="x" src="/static/css/image/head1.jpg" alt="PICTURE">
                            </div>
                        </div>
                    </div>
                    <!--图片操作-->
                    <div class="row m-2">
                        <div class="col-12 form-group" style="float: right">
                                <span>已选0张
                                </span>
                            <div class="btn-group btn-group-sm">
                                <input class="btn btn-danger btn-sm" type="button" ng-click="delete()" value="删除"/>
                                <input class="btn btn-success btn-sm" type="button" ng-click="download()" value="下载"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--操作信息-->
                <div class="tab-pane" id="czxx" role="tabpanel">
                    <section>
                        <p ng-repeat="x in order.log.list">
                            {{x.staff_name}} {{x.staff_id}} {{x.content}}
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal-footer">
    <input class="btn btn-secondary" type="button" value="关闭" ng-click="cancel()"/>
</div>