<!--主页/订单管理/历史订单/订单详情对话框-->
<div class="modal-header">
    订单详情
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!--TabHost-->
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item active"><a data-target="#ddxx" role="tab" data-toggle="tab">订单信息</a></li>
                    <li class="nav-item"><a data-target="#czxx" role="tab" data-toggle="tab">操作信息</a></li>
                </ul>
            </nav>
        </div>
        <div class="panel-body">
            <div class="well well-sm">2017年6月7日 周三 晚餐</div>
            <!--TabContent-->
            <div class="tab-content">
                <!--订单信息-->
                <div class="tab-pane active" id="ddxx" role="tabpanel">
                    <div class="container">
                        <!--文字信息-->
                        <div class="row m-2">
                            <div class="col-12 text-info">
                                <p><strong>{{order.area}} {{order.seat}} </strong></p>
                                <p><strong>{{order.name}} {{order.gender}} {{order.phone}} {{order.count}} 人 {{order.type}}客户</strong></p>
                                <p><strong>用餐时间：{{order.meal_time}}</strong></p>
                                <p><strong>创建时间：{{order.create_time}} 操作：{{order.operator}} </strong></p>
                            </div>
                            <div class="text-info bg-faded p-2">
                                <p>备注：{{order.note}}</p>
                            </div>
                        </div>
                        <!--五张图片-->
                        <div class="row m-2">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" ng-repeat="(k, x) in order.images">
                                <a class="" ng-click="check(k)">
                                    <img class="img-responsive" src="/static/css/image/head.jpg" alt="{{x}}">
                                </a>
                            </div>
                        </div>
                        <!--图片操作-->
                        <div class="row m-2">
                            <div class="col-12 form-group" style="float: right">
                                <label>已选0
                                    <div class="btn-group btn-group-sm">
                                        <input class="btn btn-secondary btn-sm px-2 mx-1" type="button" ng-click="delete()" value="删除"/>
                                        <input class="btn btn-primary btn-sm px-2 mx-1" type="button" ng-click="download()" value="下载"/>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--操作信息-->
                <div role="tabpanel" class="tab-pane" id="czxx">
                    <p><a>2017/6/1 13:24:42 预订单修改 单蕾</a></p>
                    <p class="text-info">对张先生18614023307预订的2017-06-02晚餐段315桌位</p>
                    <p><a>2017/6/1 13:24:42 预订单修改 单蕾</a></p>
                    <p class="text-info">对张先生18614023307预订的2017-06-02晚餐段315桌位</p>
                    <p><a>系统ID：0cdc987e-e654-43f9-a6ed-01af184c3251</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <input class="btn btn-secondary" type="button" value="关闭" ng-click="cancel()"/>
</div>