<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宴专家后台管理</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bootstrap/3.3.7/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap/3.3.7/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bootstrap/3.3.7/dist/css/bootstrap-responsive.min.css"/>
    <!--<link rel="stylesheet" href="bootstrap/4.0.0/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="bootstrap/4.0.0/dist/css/bootstrap-grid.min.css"/>
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
    <!--<script src="bootstrap/4.0.0/dist/js/bootstrap.min.js"></script>-->
    <!--Angular-->
    <script src="http://code.angularjs.org/1.2.7/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.7/angular-route.js"></script>
    <script src="https://cdn.bootcss.com/angular-breadcrumb/0.5.0/angular-breadcrumb.min.js"></script>
    <script src="bootstrap/3.3.7/dist/js/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="js/ngDialog.min.js"></script>
    <!--Chart-->
    <script src="js/highcharts.js"></script>
    <!--Utils-->
    <script src="js/md5.js"></script>
    <!--Custom-->
    <script src="js/login.js"></script>
</head>
<body>
<!--主页面-->
<div class="container-fluid" ng-app="BanquetExpertApp" id="main">
    <div class="row">
        <!--左侧导航栏-->
        <div class="col-sm-2" ng-controller="drawerCtrl">
            <div class="thumbnail">
                <img class="img-rounded" src="css/image/head1.jpg" alt="IMAGE">
                <div class="caption">
                    <h3 class="text-center">北京宴总店</h3>
                </div>
            </div>
            <div class="panel-group" id="drawer">
                <div class="panel panel-default" ng-repeat="menu in menus">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#drawer" data-target="#{{menu.menu_id}}">
                        <h4 class="panel-title"> {{menu.title}} </h4>
                    </div>
                    <div class="panel-collapse collapse" id="{{menu.menu_id}}">
                        <!--<div class="panel-body">-->
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="x in menu.item">
                                <a href="#/{{menu.menu_id}}/{{x.item_id}}">{{x.title}}</a>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--内容页-->
        <div class="col-sm-10">
            <!--路径导航-->
            <header ncy-breadcrumb>
                <ol class="breadcrumb mb-2 bg-faded" id="breadcrumb">
                    路径导航
                </ol>
            </header>
            <!--内容面板-->
            <main ng-view>
                内容面板
            </main>
            <!--页脚-->
            <!--<footer class="">-->
                <!--<p>Posted by: Hege Refsnes</p>-->
                <!--<p>-->
                    <!--<time pubdate datetime="2012-03-01"></time>-->
                <!--</p>-->
            <!--</footer>-->
        </div>
    </div>
</div>
<!--python manage.py runserver localhost:8000-->
<script src="js/expert.js"></script>
</body>
</html>