<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宴专家员工系统</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="bootstrap/3.3.7/dist/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="bootstrap/4.0.0/dist/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="bootstrap/4.0.0/dist/css/bootstrap-grid.min.css"/>
    <!--<link rel="stylesheet" href="bootstrap/4.0.0/dist/css/bootstrap-reboot.min.css"/>-->
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
    <!--AngularJS-->
    <script src="http://code.angularjs.org/1.2.7/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.7/angular-route.js"></script>
    <script src="bootstrap/3.3.7/dist/js/ui-bootstrap-tpls-0.9.0.js"></script>
    <!--自定义-->
    <script src="js/md5.js"></script>
</head>
<body>
<!--主页面-->
<div class="container-fluid" ng-app="StaffApp" id="main">
    <div class="row">
        <!--左侧导航栏-->
        <div class="col-sm-2" ng-controller="drawerCtrl">
            <div class="thumbnail bg-warning">
                <img class="img-rounded" src="/static/css/image/head1.jpg" alt="IMAGE">
                <div class="caption bg-warning">
                    <h3 class="text-center">{{hotel.name}}</h3>
                </div>
            </div>
            <div class="panel-group" id="drawer">
                <div class="panel panel-default" ng-repeat="menu in menus">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#drawer" data-target="#{{menu.menu_id}}">
                        <h4 class="panel-title"> {{menu.title}} </h4>
                    </div>
                    <div class="panel-collapse collapse" id="{{menu.menu_id}}">
                        <!--<div class="panel-body">-->
                        <div class="list-group">
                            <div class="list-group-item" ng-repeat="x in menu.item">
                                <a href="#/{{menu.menu_id}}/{{x.item_id}}">{{x.title}}</a>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!--内容页-->
        <div class="col-sm-10">
            <!--路径导航-->
            <div>
                <ol class="breadcrumb mb-2 bg-faded" id="breadcrumb">
                    路径导航
                </ol>
            </div>
            <!--内容面板-->
            <main ng-view>
                内容面板
            </main>
        </div>
    </div>
</div>
<script src="app/staff.js"></script>
</body>
</html>