<!--主页/智能订餐台/智能订餐台-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            智能订餐台
        </div>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <!--餐段日期选择-->
                <div class="col-lg-12 py-2">
                    <div class="container">
                        <div class="row  well well-sm">
                            <div class="col-lg-2">
                                <strong>2017</strong>年
                                <strong>6</strong>月
                            </div>
                            <div class="col-lg-10 input-group">
                                <div class="form-inline" role="toolbar">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <input type="button" value="午餐">
                                        <input type="button" value="晚餐">
                                    </div>
                                    <div class="btn-group btn-group-sm" role="group">
                                        <input type="button" ng-repeat="x in weekdays" value="{{x}}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--餐位列表-->
                <div class="col-lg-3" style="height: 60%">
                    <!--折叠效果-->
                    <div class="panel-group" id="accordion" role="tablist">
                        <!--一楼-->
                        <div class="panel panel-default" ng-repeat="x in area">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}">
                                        {{x.name}}（{{x.seat.length}}桌）（06-05 周一） 晚餐
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{$index}}" class="panel-collapse collapse" role="tabpanel">
                                <!--桌位列表 list-group-->
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="y in x.seat">
                                        {{y.name}} {{y.min}}人~{{y.max}}人 {{y.type}}
                                    </li>
                                </ul>
                                <!--桌位列表 panel-body-->
                                <div class="panel-body hidden">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-4" ng-repeat="y in x.seat">
                                            <div class="thumbnail" ng-class="{'bg-warning':y.id%2 === 1}">
                                                <h5 class="text-center">{{y.name}}</h5>
                                                <img src="/static/css/image/head1.jpg" width="20px" height="20px"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                This is footer
                            </div>
                        </div>
                    </div>
                </div>
                <!--电话/预约-->
                <div class="col-lg-4" style="height: 60%">
                    <div class="panel panel-default">
                        <!--TabHost-->
                        <div class="panel-heading">
                            <nav>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item p-2">
                                        <a role="tab" data-toggle="tab" data-target="#phone">电话</a>
                                    </li>
                                    <li class="nav-item p-2 active">
                                        <a role="tab" data-toggle="tab" data-target="#reserve">预定</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="panel-collapse">
                            <!--TabContent-->
                            <div class="tab-content">
                                <!--来电-->
                                <div class="tab-pane" role="tabpanel" id="phone">
                                    <!--来电列表-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in phone">
                                            <div class="container">
                                                <div class="row">
                                                    <!--头像-->
                                                    <div class="col-lg-3 col-sm-3">
                                                        <img class="img-responsive" src="/static/css/image/head1.jpg">
                                                        <span class="text-center">{{x.time}}</span>
                                                    </div>
                                                    <!--个人信息-->
                                                    <div class="col-lg-6 col-sm-6">
                                                        <p>{{x.name|surname}} {{x.gender|gender}}</p>
                                                        <p>{{x.phone}} {{x.type}}</p>
                                                    </div>
                                                    <!--操作-->
                                                    <div class="col-lg-3 col-sm-3">
                                                        <input class="btn btn-secondary btn-sm" type="button" ng-click="handlePhone($index)" value="处理"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--分页导航-->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-sm">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li ng-repeat="(k, v) in pages"><a href="#{{v}}">{{v}}</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!--预约-->
                                <div class="tab-pane active" role="tabpanel" id="reserve">
                                    <!--预约列表-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in reserve">
                                            <div class="container">
                                                <div class="row">
                                                    <!--头像-->
                                                    <div class="col-lg-3 col-sm-3">
                                                        <img class="img-responsive" src="/static/css/image/head1.jpg">
                                                        <span class="align-items-center">{{x.time}}</span>
                                                    </div>
                                                    <!--个人信息-->
                                                    <div class="col-lg-6 col-sm-6">
                                                        <p>{{x.name|surname}} {{x.gender|gender}}</p>
                                                        <p>{{x.phone}} {{x.type}}</p>
                                                    </div>
                                                    <!--操作-->
                                                    <div class="col-lg-3 col-sm-3">
                                                        <input class="btn btn-secondary btn-sm" type="button" ng-click="handleReserve($index)" value="处理"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!--分页导航-->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-sm">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li ng-repeat="(k, v) in pages"><a href="#{{v}}">{{v}}</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--订单列表-->
                <div class="col-lg-5" style="height: 60%">
                    <div class="panel-group panel-primary">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="well well-sm form-inline">
                                        <input class="form-control form-control-sm" type="text" placeholder="手机号筛选"/>
                                        <select class="form-control form-control-sm">
                                            <optgroup label="筛选方式"></optgroup>
                                            <option>by 桌号</option>
                                            <option>by 时间</option>
                                            <option>by 客户姓名</option>
                                            <option>by 电话</option>
                                            <option>by 性别</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-collapse">
                                <!--提示信息-->
                                <div class="well well-sm">
                                    <span>晚餐 39桌</span>
                                    <span>周一 262人</span>
                                </div>
                                <!--订单列表-->
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="x in orders">
                                        <div class="container">
                                            <div class="row">
                                                <!--左侧信息-->
                                                <div class="col-4">
                                                    <h5>{{x.seat}} ({{x.people}}人)</h5>
                                                    <span>{{x.order_time|date:"hh:MM:ss"}}</span>
                                                </div>
                                                <!--右侧信息-->
                                                <div class="col-8">
                                                    <p><strong>{{x.name|surname}}</strong> 先生</p>
                                                    <p>备注：桌号({{x.seat}}) {{x.order_status}}</p>
                                                </div>
                                                <!--操作栏-->
                                                <div class="col-lg-12 col-sm-12 p-2 bg-success">
                                                    <!--第一行-->
                                                    <div class="input-group">
                                                        <input type="button" value="撤单"/>
                                                        <div class="btn-group btn-group-sm">
                                                            <input type="button" value="换桌"/>
                                                            <input type="button" value="加桌"/>
                                                            <input type="button" value="修改"/>
                                                        </div>
                                                        <input type="button" value="关闭"/>
                                                    </div>
                                                    <!--第二行-->
                                                    <select>
                                                        <option ng-repeat="x in [1,2,3,4]">x</option>
                                                    </select>
                                                    <div class="input-group">
                                                        <input type="button" value="发路线"/>
                                                        <input type="button" value="发短信"/>
                                                        <input type="button" value="相关订单"/>
                                                        <input type="button" value="客户档案"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        This is footer.
    </div>
</div>