<!--主页/智能订餐台/智能订餐台-->
<div class="p-1">
    <div class="p-2 bg-success">
        <div class="container">
            <div class="row">
                <!--餐位列表-->
                <div class="col-lg-4">
                    <!--折叠效果-->
                    <div class="panel-group" id="accordion">
                        <!--一楼-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                        超级管理员
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <!--超级管理员列表-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in reserve">{{x.id}} {{x.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--二楼-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                                        高层管理
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!--高层管理列表-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in reserve">{{x.id}} {{x.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--三楼-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                                        预订员和迎宾
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!--操作栏-->
                                    <a class="btn btn-link btn-sm" ng-click="add_reserve()">新增预订员和迎宾</a>
                                    <!--预订员和迎宾列表-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in reserve">{{x.id}} {{x.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--四楼-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                                        客户经理
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!--操作栏-->
                                    <a class="btn btn-link btn-sm" ng-click="add_manager()">新增客户经理</a>
                                    <!--客户经理列表-->
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in reserve">{{x.id}} {{x.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--五楼-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                                        外部渠道
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="x in reserve">{{x.id}} {{x.name}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--电话/预约-->
                <div class="col-lg-4">
                    <!--TabHost-->
                    <div>
                        <nav>
                            <ul class="nav nav-tabs">
                                <li>电话</li>
                                <li>预定</li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--订单列表-->
                <div class="col-lg-4">
                    订单列表
                </div>
            </div>
        </div>
    </div>
</div>