<!--管理员管理-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            酒店管理员列表
            <small>(共{{data.count}}个管理员)</small>
        </div>
    </div>
    <div class="panel-body">
        <!--已添加管理员列表-->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5" ng-repeat="x in data.list|orderBy:hotel_id">
            <div class="thumbnail" ng-click="editManager(x)">
                <div class="label label-info">
                    {{x.admin_id + 1}}. {{x.username}} <span ng-hide="x.is_enabled">失效</span>
                </div>
                <img class="img-circle" src="/static/css/image/head1.jpg" style="width: 96px;height: 96px">
                <div class="caption">
                    <p>酒店：{{x.hotel_name}}</p>
                    <p>类型：{{x.type|admin_type}}</p>
                    <p>创建时间：{{x.create_time|date:'yyyy/MM/dd'}}</p>
                </div>
            </div>
        </div>
        <!--添加管理员-->
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-5">
            <div class="thumbnail" ng-click="addManager()">
                <div class="label label-info">添加管理员</div>
                <img class="img-circle" src="/static/css/image/head.jpg" style="width: 96px;height: 96px">
                <div class="caption">
                    <p>酒店：无</p>
                    <p>类型：无</p>
                    <p>创建时间：无</p>
                </div>
            </div>
        </div>
    </div>
</div>