<!--主页/账户管理/修改密码-->
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            修改密码
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <!--用户名-->
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名：</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="form.username" placeholder="" disabled/>
                </div>
            </div>
            <!--密码-->
            <div class="form-group">
                <label class="col-sm-2 control-label">旧密码：</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="form.old_password" placeholder="请输入旧密码"/>
                </div>
            </div>
            <!--新密码-->
            <div class="form-group">
                <label class="col-sm-2 control-label">新密码：</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="form.new_password" placeholder="请输入新密码"/>
                </div>
            </div>
            <!--新密码验证-->
            <div class="form-group">
                <label class="col-sm-2 control-label">新密码验证：</label>
                <div class="col-sm-10">
                    <input type="password" ng-model="form.new_password_acc" placeholder="请输入"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <!--<input class="form-control" type="text" ng-model="form.new_password_acc" placeholder="10000000000"/>-->
                    <input class="btn btn-primary btn-sm" type="submit" ng-click="save()" value="保存"/>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
    </div>
</div>