{{for itemVar="~menu"}}
<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#drawer" href="#{{:menu_id}}">
        <h4 class="panel-title"> {{:title}} </h4>
    </div>
    <div class="panel-collapse collapse" id="{{:menu_id}}">
        <!--<div class="panel-body">-->
            <div class="list-group">
                {{for item}}
                <div class="list-group-item"><a href="#/{{:~menu.menu_id}}/{{:item_id}}">{{:title}}</a></div>
                {{/for}}
            </div>
        <!--</div>-->
    </div>
</div>
{{/for}}