<!--主页/后台用户管理/获客渠道-->
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--折叠效果-->
    <div class="panel-group hidden-lg" id="accordion">
        <!--超级管理员-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        超级管理员
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <!--操作栏-->
                    <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-reserve">新增超级管理员</a>
                    <!--超级管理员列表-->
                    <div>
                        <ul>
                            <li>超级管理员A</li>
                            <li>超级管理员B</li>
                            <li>超级管理员C</li>
                            <li>超级管理员D</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--高层管理-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        高层管理
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--操作栏-->
                    <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-reserve">新增高层管理</a>
                    <!--高层管理列表-->
                    <div>
                        <ul>
                            <li>高层管理A</li>
                            <li>高层管理B</li>
                            <li>高层管理C</li>
                            <li>高层管理D</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--预订员和迎宾-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                        预订员和迎宾
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--操作栏-->
                    <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-reserve">新增预订员和迎宾</a>
                    <!--预订员和迎宾列表-->
                    <div>
                        <ul>
                            <li>预订员和迎宾A</li>
                            <li>预订员和迎宾B</li>
                            <li>预订员和迎宾C</li>
                            <li>预订员和迎宾D</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--客户经理-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                        客户经理
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--操作栏-->
                    <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-manager">新增客户经理</a>
                    <!--客户经理列表-->
                    <div>
                        <ul>
                            <li>客户经理A</li>
                            <li>客户经理B</li>
                            <li>客户经理C</li>
                            <li>客户经理D</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--外部渠道-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                        外部渠道
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--操作栏-->
                    <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-outer-channel">新增外部渠道</a>
                    <!--外部渠道列表-->
                    <div>
                        <ul>
                            <li>外部渠道A</li>
                            <li>外部渠道B</li>
                            <li>外部渠道C</li>
                            <li>外部渠道D</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Tab效果-->
    <div class="tabbable">
        <!--HabHost-->
        <nav class="mb-2">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-2 active"><a data-target="#cjgly" role="tab" data-toggle="tab">超级管理员</a></li>
                <li class="nav-item p-2"><a data-target="#gcgl" role="tab" data-toggle="tab">高层管理</a></li>
                <li class="nav-item p-2"><a data-target="#ydyhyb" role="tab" data-toggle="tab">预订员和迎宾</a></li>
                <li class="nav-item p-2"><a data-target="#khjl" role="tab" data-toggle="tab">客户经理</a></li>
                <li class="nav-item p-2"><a data-target="#wbqd" role="tab" data-toggle="tab">外部渠道</a></li>
            </ul>
        </nav>
        <!--TabContent-->
        <div class="tab-content">
            <!--超级管理员-->
            <div class="tab-pane active" id="cjgly">
                <!--操作栏-->
                <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-reserve">新增超级管理员</a>
                <!--超级管理员列表-->
                <div>
                    <ul>
                        <li>超级管理员A</li>
                        <li>超级管理员B</li>
                        <li>超级管理员C</li>
                        <li>超级管理员D</li>
                    </ul>
                </div>
            </div>
            <!--高层管理-->
            <div class="tab-pane" id="gcgl">
                <!--操作栏-->
                <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-reserve">新增高层管理</a>
                <!--高层管理列表-->
                <div>
                    <ul>
                        <li>高层管理A</li>
                        <li>高层管理B</li>
                        <li>高层管理C</li>
                        <li>高层管理D</li>
                    </ul>
                </div>
            </div>
            <!--预订员和迎宾-->
            <div class="tab-pane" id="ydyhyb">
                <!--操作栏-->
                <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-reserve">新增预订员和迎宾</a>
                <!--预订员和迎宾列表-->
                <div>
                    <ul>
                        <li>预订员和迎宾A</li>
                        <li>预订员和迎宾B</li>
                        <li>预订员和迎宾C</li>
                        <li>预订员和迎宾D</li>
                    </ul>
                </div>
            </div>
            <!--客户经理-->
            <div class="tab-pane" id="khjl">
                <!--操作栏-->
                <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-manager">新增客户经理</a>
                <!--客户经理列表-->
                <div>
                    <ul>
                        <li>客户经理A</li>
                        <li>客户经理B</li>
                        <li>客户经理C</li>
                        <li>客户经理D</li>
                    </ul>
                </div>
            </div>
            <!--外部渠道-->
            <div class="tab-pane" id="wbqd">
                <!--操作栏-->
                <a class="btn btn-link btn-sm" data-toggle="modal" data-target=".add-outer-channel">新增外部渠道</a>
                <!--外部渠道列表-->
                <div>
                    <ul>
                        <li>外部渠道A</li>
                        <li>外部渠道B</li>
                        <li>外部渠道C</li>
                        <li>外部渠道D</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--对话框/新增预订员-->
<div class="modal add-reserve" ng-app="AddReserveApp" ng-controller="AddReserveCtrl" role="dialog" aria-labelledby="add-reserve">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>新增预订员</a>
            </div>
            <div class="modal-body">
                <!--主页/后台用户管理/渠道管理/新增预订员-->
                <!--内容-->
                <div class="py-2 px-2 mt-2 bg-info">
                    <!--表单-->
                    <div class="p-2 mb-2 bg-faded">
                        <form class="form-horizontal">
                            <fieldset>
                                <!--新增预订员-->
                                <div class="col-form-legend">
                                    <legend class="">新增预订员</legend>
                                </div>
                                <!--姓名 性别-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>姓名：</label>
                                    <div class="controls">
                                        <input class="form-control-sm inline" type="text" ng-model="form.name"/>
                                        <label class="form-control-label radio inline">
                                            <input type="radio" ng-model="form.gender" value="male"/>先生
                                        </label>
                                        <label class="form-control-label radio inline">
                                            <input type="radio" ng-model="form.gender" value="female"/>女士
                                        </label>
                                    </div>
                                </div>
                                <!--电话-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>电话：</label>
                                    <div class="controls">
                                        <label class="form-control-label text-warning inline">
                                            <input type="text" ng-model="form.phone" value="18800184976"/>请准确输入11位手机号码
                                        </label>
                                    </div>
                                </div>
                                <!--职位-->
                                <div class="control-group">
                                    <label class="control-label">职位：</label>
                                    <div class="controls">
                                        <input type="text" ng-model="form.job"/>
                                    </div>
                                </div>
                                <!--用户名-->
                                <div class="control-group">
                                    <label class="control-label">用户名：</label>
                                    <div class="controls">
                                        <input type="text" ng-model="form.username"/>
                                    </div>
                                </div>
                                <!--密码-->
                                <div class="control-group">
                                    <label class="control-label">密码：</label>
                                    <div class="controls">
                                        <input type="text" name="form.password"/>
                                    </div>
                                </div>
                                <!--TODO: 职能权限-->
                                <div class="control-group">
                                    <label class="control-label">职能权限：</label>
                                    <div class="controls">
                                        <!--职能权限表-->
                                        <table class="table table-hover table-bordered table-responsive">
                                            <thead>
                                            <tr>
                                                <td>管理职能</td>
                                                <td>营销职能</td>
                                                <td>预定职能</td>
                                                <td>销售职能</td>
                                            </tr>
                                            </thead>
                                            <tbody class="table-info">
                                            <tr>
                                                <td>管理职能</td>
                                                <td>营销职能</td>
                                                <td>预定职能</td>
                                                <td>销售职能</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--销售职能-->
                                <div class="control-group">
                                    <label class="control-label">销售职能：</label>
                                    <div class="controls">
                                        <label class="form-control-label checkbox inline">
                                            <input type="checkbox" ng-model="form.enable_marketing_functions"/>
                                            开通销售职能（可通过手机预订占座，统计本人订单业绩，并协助分析客户价值）
                                        </label>
                                    </div>
                                </div>
                                <!--订单短信-->
                                <div class="control-group">
                                    <label class="control-label">订单短信：</label>
                                    <div class="controls">
                                        <label class="form-control-label checkbox inline">
                                            <input type="checkbox" ng-model="form.order_sms"/>接收客户预定通知
                                        </label>
                                    </div>
                                </div>
                                <!--TODO: 提成结算-->
                                <div class="control-group">
                                    <label class="control-label">提成结算：</label>
                                    <div class="controls">
                                        <!--接单提成-->
                                        <label class="form-control-label">
                                            <input class="checkbox inline" type="checkbox" ng-model="form.enable_bonus"/>接单提成
                                        </label>
                                        <div class="p-2 bg-info">
                                            <h5>提成结算方式</h5>
                                            <div>
                                                <label class="form-control-label radio inline">
                                                    <input type="radio" ng-model="form.bonus.method" value="0"/>按消费额百分比
                                                </label>
                                                <label class="form-control-label inline">
                                                    消费金额 * <input type="number" ng-model="form.bonus.value">元/桌
                                                </label>
                                            </div>
                                            <div>
                                                <label class="form-control-label">
                                                    <input class="radio inline" type="radio" ng-model="form.bonus.method" value="1"/>按订单数量
                                                </label>
                                                <label class="form-control-label">
                                                    <input type="number" ng-model="form.bonus.value">元/桌
                                                </label>
                                            </div>
                                            <div>
                                                <label class="form-control-label">
                                                    <input type="radio" name="unit" ng-model="form.bonus.method" value="2"/>按消费人数
                                                </label>
                                                <label class="form-control-label">
                                                    <input type="number" ng-model="form.bonus.value">元/人
                                                </label>
                                            </div>
                                        </div>
                                        <!--开新客提成-->
                                        <label class="form-control-label">
                                            <input class="checkbox inline" type="checkbox" name="unit"/>开新客提成
                                            <a class="warning">客户第一次在系统内生成订单消费成功，则接单人新开客数量加1。</a>
                                        </label>
                                        <div class="p-2 bg-info">
                                            <h5>提成结算方式</h5>
                                            <div>
                                                <label class="form-control-label inline">
                                                    消费金额 * <input type="number">元/桌
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--TODO: 管辖桌位-->
                                <div class="control-group">
                                    <label class="control-label">管辖桌位：</label>
                                    <div class="controls">
                                        <!--管理全部桌位-->
                                        <label class="form-control-label">
                                            <input class="checkbox inline" type="checkbox" name="unit"/>管理全部桌位
                                        </label>
                                        <!--区域导航栏-->
                                        <div>
                                            区域导航栏
                                        </div>
                                        <!--桌位选择列表-->
                                        <div>
                                            桌位选择列表
                                        </div>
                                    </div>
                                </div>
                                <!--TODO: 管辖区域-->
                                <div class="control-group">
                                    <label class="control-label">管辖区域：</label>
                                    <div class="controls">
                                        <ul class="inline">
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="1"/>一楼</label></li>
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="2"/>二楼</label></li>
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="3"/>三楼</label></li>
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="4"/>四楼</label></li>
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="5"/>五楼</label></li>
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="6"/>六楼</label></li>
                                            <li><label class="form-control-label"><input type="checkbox" name="area" value="7"/>七楼</label></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--TODO: 沟通渠道-->
                                <div class="control-group">
                                    <label class="control-label">沟通渠道：</label>
                                    <div class="controls">
                                        <ul class="inline">
                                            <li>
                                                <label class="form-control-label">
                                                    <input type="radio" name="communicate_channel" value="7"/>电话盒子
                                                </label>
                                                <ul class="inline">
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (来电盒子)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (来电盒子)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (来电盒子)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (来电盒子)线路1
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <label class="form-control-label">
                                                    <input type="radio" name="communicate_channel" value="7"/>智能电话
                                                </label>
                                                <ul class="inline">
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (智能电话)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (智能电话)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (智能电话)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (智能电话)线路1
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label class="form-control-label">
                                                            <input type="checkbox" name="area" value="7"/> (智能电话)线路1
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--操作栏-->
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <div class="py-2">
                                            <button class="btn btn-primary btn-sm">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer<a class="close"></a>
            </div>
        </div>
    </div>
</div>
<!--对话框/新增客户经理-->
<div class="modal add-manager" role="dialog" aria-labelledby="add-manager">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>新增客户经理</a>
            </div>
            <div class="modal-body">
                <!--主页/后台用户管理/渠道管理/新增客户经理-->
                <!--内容-->
                <div class="py-2 px-2 mt-2 bg-info">
                    <!--表单-->
                    <div class="p-2 mb-2 bg-faded">
                        <form class="form-horizontal">
                            <fieldset>
                                <!--新增客户经理-->
                                <div class="col-form-legend">
                                    <legend class="">新增客户经理</legend>
                                </div>
                                <!--姓名-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>姓名：</label>
                                    <div class="controls">
                                        <input class="form-control-sm" type="text"/>
                                    </div>
                                </div>
                                <!--性别-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>性别：</label>
                                    <div class="controls">
                                        <label><input class="form-control-sm" type="radio" name="sex"/>先生</label>
                                        <label><input class="form-control-sm" type="radio" name="sex"/>女士</label>
                                    </div>
                                </div>
                                <!--电话-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>电话：</label>
                                    <div class="controls">
                                        <!--电话列表-->
                                        <ul class="inline">
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                        </ul>
                                        <a class="btn btn-primary btn-link">+增加电话</a>
                                        <a class="text-warning">请准确输入11位手机号码</a>
                                    </div>
                                </div>
                                <!--生日-->
                                <div class="control-group">
                                    <label class="control-label">生日：</label>
                                    <div class="controls">
                                        <input type="date" name="birthday"/>
                                        <label><input type="radio" name="calendar" value="0"/>公历</label>
                                        <label><input type="radio" name="calendar" value="1"/>农历</label>
                                    </div>
                                </div>
                                <!--单位-->
                                <div class="control-group">
                                    <label class="control-label">单位：</label>
                                    <div class="controls">
                                        <input type="text" name="unit"/>
                                    </div>
                                </div>
                                <!--现住址-->
                                <div class="control-group">
                                    <label class="control-label">现住址：</label>
                                    <div class="controls">
                                        <!--省-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--市-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--县-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--小区-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                    </div>
                                </div>
                                <!--籍贯-->
                                <div class="control-group">
                                    <label class="control-label">籍贯：</label>
                                    <div class="controls">
                                        <!--省-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                        <!--市-->
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                    </div>
                                </div>
                                <!--营销短信-->
                                <div class="control-group">
                                    <label class="control-label">营销短信：</label>
                                    <div class="controls">
                                        <label><input type="radio" name="sms_marketing" value="0"/>开</label>
                                        <label><input type="radio" name="sms_marketing" value="1"/>关</label>
                                    </div>
                                </div>
                                <!--分类方法-->
                                <div class="control-group">
                                    <label class="control-label">分类方法：</label>
                                    <div class="controls">
                                        <select class="form-control-sm inline">
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                            <option>北京</option>
                                        </select>
                                    </div>
                                </div>
                                <!--病症-->
                                <div class="control-group">
                                    <label class="control-label">病症：</label>
                                    <div class="controls">
                                        <!--病症列表-->
                                        <ul class="inline">
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                        </ul>
                                        <a class="btn btn-primary btn-link">+添加标签</a>
                                    </div>
                                </div>
                                <!--喜好-->
                                <div class="control-group">
                                    <label class="control-label">喜好：</label>
                                    <div class="controls">
                                        <!--喜好列表-->
                                        <ul class="inline">
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                        </ul>
                                        <a class="btn btn-primary btn-link">+添加标签</a>
                                    </div>
                                </div>
                                <!--忌口-->
                                <div class="control-group">
                                    <label class="control-label">忌口：</label>
                                    <div class="controls">
                                        <!--忌口列表-->
                                        <ul class="inline">
                                            <li><label>
                                                <input class="form-control-sm" type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                            <li><label>
                                                <input type="text" name="phone"/>
                                            </label></li>
                                        </ul>
                                        <a class="btn btn-primary btn-link">+添加标签</a>
                                    </div>
                                </div>
                                <!--不良记录-->
                                <div class="control-group">
                                    <label class="control-label">不良记录：</label>
                                    <div class="controls">
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <!--操作栏-->
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <div class="py-2">
                                            <button class="btn btn-primary btn-sm">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer<a class="close"></a>
            </div>
        </div>
    </div>
</div>
<!--对话框/新增外部渠道-->
<div class="modal add-outer-channel" role="dialog" aria-labelledby="add-outer-channel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <a>新增外部渠道</a>
            </div>
            <div class="modal-body">
                <!--主页/后台用户管理/渠道管理/新增外部渠道-->
                <!--内容-->
                <div class="py-2 px-2 mt-2 bg-info">
                    <!--表单-->
                    <div class="p-2 mb-2 bg-faded">
                        <form class="form-horizontal">
                            <fieldset>
                                <!--新增外部渠道-->
                                <div id="legend" class="col-form-legend">
                                    <legend class="">新增外部渠道</legend>
                                </div>
                                <!--渠道名称-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>渠道名称：</label>
                                    <div class="controls">
                                        <input class="form-control-sm" type="text" placeholder="118114 来电号码：010188114/0311118114/0312118114/118114"/>
                                    </div>
                                </div>
                                <!--直属上级-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>直属上级：</label>
                                    <div class="controls">
                                        <select>
                                            <option>A1</option>
                                            <option>A2</option>
                                            <option>A3</option>
                                            <option>A4</option>
                                        </select>
                                    </div>
                                </div>
                                <!--签约折扣标准-->
                                <div class="control-group">
                                    <label class="control-label"><a style="color: red;">*</a>签约折扣标准：</label>
                                    <div class="controls">
                                        <select>
                                            <option>无折扣</option>
                                            <option>9.5折</option>
                                            <option>9.0折</option>
                                            <option>8.5折</option>
                                            <option>8.0折</option>
                                        </select>
                                    </div>
                                </div>
                                <!--合作周期-->
                                <div class="control-group">
                                    <label class="control-label">合作周期：</label>
                                    <div class="controls">
                                        <input type="date" name="date-from" value="0"/>
                                        ~
                                        <input type="date" name="date-to" value="1"/>
                                    </div>
                                </div>
                                <!--佣金核算方式-->
                                <div class="control-group">
                                    <label class="control-label">佣金核算方式：</label>
                                    <div class="controls">
                                        <ul class="list-unstyled list-group">
                                            <li class="list-group-item">
                                                <label class="form-control-label radio inline">
                                                    <input type="radio" name="unit"/>按消费额百分比
                                                </label>
                                                <label class="form-control-label inline">
                                                    消费金额 * <input type="number">元/桌
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="form-control-label">
                                                    <input type="radio" name="unit"/>按订单数量
                                                </label>
                                                <label class="form-control-label">
                                                    <input type="number">元/桌
                                                </label>
                                            </li>
                                            <li class="list-group-item">
                                                <label class="form-control-label">
                                                    <input type="radio" name="unit"/>按消费人数
                                                </label>
                                                <label class="form-control-label">
                                                    <input type="number">元/人
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--操作栏-->
                                <div class="control-group">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <div class="py-2">
                                            <button class="btn btn-primary btn-sm">保存</button>
                                            <button class="btn btn-primary btn-sm">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                This is footer<a class="close"></a>
            </div>
        </div>
    </div>
</div>
<script>
    var ChannelAddReserveApp = angular.module("AddReserveApp", []);
    ChannelAddReserveApp.controller('AddReserveCtrl', function () {

    });
</script>