<!--主页/后台用户管理/获客渠道-->
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <div class="tabbable">
        <!--HabHost-->
        <nav class="mb-2">
            <!--等宽Tab-->
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li class="nav-item p-2 active"><a href="#cjgly" role="tab" data-toggle="tab">超级管理员</a></li>
                <li class="nav-item p-2"><a href="#gcgl" role="tab" data-toggle="tab">高层管理</a></li>
                <li class="nav-item p-2"><a href="#ydyhyb" role="tab" data-toggle="tab">预订员和迎宾</a></li>
                <li class="nav-item p-2"><a href="#khjl" role="tab" data-toggle="tab">客户经理</a></li>
                <li class="nav-item p-2"><a href="#wbqd" role="tab" data-toggle="tab">外部渠道</a></li>
            </ul>
        </nav>
        <!--TabContent-->
        <div class="tab-content">
            <!--超级管理员-->
            <div class="tab-pane active" id="cjgly">
                <div>
                    <!--超级管理员列表-->
                    <ul>
                        <li>超级管理员A</li>
                        <li>超级管理员B</li>
                        <li>超级管理员C</li>
                        <li>超级管理员D</li>
                    </ul>
                </div>
            </div>
            <!--高层管理-->
            <div class="tab-pane" id="gcgl">
                <!--高层管理列表-->
                <div>
                    <ul>
                        <li>高层管理A</li>
                        <li>高层管理B</li>
                        <li>高层管理C</li>
                        <li>高层管理D</li>
                    </ul>
                </div>
            </div>
            <!--预订员和迎宾-->
            <div class="tab-pane" id="ydyhyb">
                <!--预订员和迎宾列表-->
                <ul>
                    <li>预订员和迎宾A</li>
                    <li>预订员和迎宾B</li>
                    <li>预订员和迎宾C</li>
                    <li>预订员和迎宾D</li>
                </ul>
            </div>
            <!--客户经理-->
            <div class="tab-pane" id="khjl">
                <!--客户经理列表-->
                <ul>
                    <li>客户经理A</li>
                    <li>客户经理B</li>
                    <li>客户经理C</li>
                    <li>客户经理D</li>
                </ul>
            </div>
            <!--外部渠道-->
            <div class="tab-pane" id="wbqd">
                <!--外部渠道列表-->
                <ul>
                    <li>外部渠道A</li>
                    <li>外部渠道B</li>
                    <li>外部渠道C</li>
                    <li>外部渠道D</li>
                </ul>
            </div>
        </div>
    </div>
</div>