<!--主页/后台用户管理/员工管理-->
<!--内容-->
<div class="py-2 px-2 mt-2 bg-info">
    <!--折叠效果-->
    <div class="panel-group" id="accordion">
        <!--待审核员工-->
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <h4 class="panel-title">
                    <a>
                        待审核员工
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <!--待审核员工列表-->
                    <div class="row">
                        <div class="col-lg-2 col-sm-3 col-xs-4" ng-repeat="x in manager">
                            <div class="thumbnail" ng-click="approve($index)">
                                <span class="badge badge-warning">
                                    {{$index + 1}} {{x.name|surname}} {{x.gender|gender}}
                                </span>
                                <img class="img-responsive" src="/static/css/image/head1.jpg" style="width: 80px;height: 80px">
                                <p>职位：{{x.username}}</p>
                                <p>简介：{{x.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--已审核员工-->
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                <h4 class="panel-title">
                    <a>
                        已审核员工
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <!--已审核员工列表-->
                        <div class="col-lg-2 col-sm-3 col-xs-4" ng-repeat="x in staff">
                            <div class="thumbnail" ng-click="edit($index)">
                                <span class="badge badge-info">
                                    {{$index + 1}} {{x.name|surname}} {{x.gender|gender}}
                                </span>
                                <img class="img-circle" src="/static/css/image/head1.jpg" style="width: 80px;height: 80px">
                                <p>用户名：{{x.username}}</p>
                                <p>职位：{{x.job}}</p>
                                <p>电话：{{x.phone}}</p>
                            </div>
                        </div>
                        <!--添加员工-->
                        <div class="col-lg-2 col-sm-3 col-xs-4">
                            <div class="thumbnail" ng-click="add_staff()">
                                <span class="badge badge-info">添加员工</span>
                                <img class="img-circle" src="/static/css/image/head.jpg" style="width: 80px;height: 80px">
                                <p>用户名：No Name</p>
                                <p>职位：No Job</p>
                                <p>电话：No Phone</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>