<!--主页/后台用户管理/渠道管理/新增外部渠道-->
<div class="modal-header">
    <a>新增外部渠道</a>
</div>
<div class="modal-body">
    <!--内容-->
    <div class="py-2 px-2 mt-2 bg-info">
        <!--表单-->
        <div class="p-2 mb-2 bg-faded">
            <form class="form-horizontal">
                <fieldset>
                    <!--新增外部渠道-->
                    <div id="legend" class="col-form-legend">
                        <legend class="">新增外部渠道</legend>
                    </div>
                    <!--渠道名称-->
                    <div class="control-group">
                        <label class="control-label"><a style="color: red;">*</a>渠道名称：</label>
                        <div class="controls">
                            <input class="form-control-sm" type="text" ng-model="form.channel" placeholder=""/>
                        </div>
                    </div>
                    <!--直属上级-->
                    <div class="control-group">
                        <label class="control-label"><a style="color: red;">*</a>直属上级：</label>
                        <div class="controls">
                            <select ng-model="form.parent">
                                <option>A1</option>
                                <option>A2</option>
                                <option>A3</option>
                                <option>A4</option>
                            </select>
                        </div>
                    </div>
                    <!--签约折扣标准-->
                    <div class="control-group">
                        <label class="control-label"><a style="color: red;">*</a>签约折扣标准：</label>
                        <div class="controls">
                            <select ng-model="form.discount">
                                <option ng-repeat="(k, v) in discount" value="{{k}}">{{v}}</option>
                            </select>
                        </div>
                    </div>
                    <!--合作周期-->
                    <div class="control-group">
                        <label class="control-label">合作周期：</label>
                        <div class="controls">
                            <input type="date" ng-model="form.date_from" value="0"/>
                            ~
                            <input type="date" name="form.date_to" value="1"/>
                        </div>
                    </div>
                    <!--佣金核算方式-->
                    <div class="control-group">
                        <label class="control-label">佣金核算方式：</label>
                        <div class="controls">
                            <ul class="list-unstyled list-group">
                                <li class="list-group-item">
                                    <label class="form-control-label radio inline">
                                        <input type="radio" ng-model="form.bonus.method" value="0"/>按消费额百分比
                                    </label>
                                    <label class="form-control-label inline">
                                        消费金额 * <input type="number" ng-model="form.bonus.value">元/桌
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-control-label">
                                        <input type="radio" ng-model="form.bonus.method" value="1"/>按订单数量
                                    </label>
                                    <label class="form-control-label">
                                        <input type="number" ng-model="form.bonus.value">元/桌
                                    </label>
                                </li>
                                <li class="list-group-item">
                                    <label class="form-control-label">
                                        <input type="radio" ng-model="form.bonus.method" value="2"/>按消费人数
                                    </label>
                                    <label class="form-control-label">
                                        <input type="number" ng-model="form.bonus.value">元/人
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save()">保存</button>
    <button class="btn btn-primary btn-sm" ng-click="cancel()">取消</button>
</div>