<!--主页/后台用户管理/渠道管理/新增预订员-->
<div class="modal-header">
    <a>新增预订员</a>
</div>
<div class="modal-body">
    <!--内容-->
    <div class="py-2 px-2 mt-2 bg-info">
        <!--表单-->
        <div class="p-2 mb-2 bg-faded">
            <form class="form-horizontal">
                <fieldset>
                    <!--新增预订员-->
                    <div class="col-form-legend">
                        <legend class="">新增预订员</legend>
                    </div>
                    <!--姓名 性别-->
                    <div class="control-group">
                        <label class="col-sm-2"><a style="color: red;">*</a>姓名：</label>
                        <div class="col-sm-6">
                            <input class="form-control-sm inline" type="text" ng-model="form.name"/>
                            <label class="form-control-label radio inline">
                                <input type="radio" ng-model="form.gender" value="male"/>先生
                            </label>
                            <label class="form-control-label radio inline">
                                <input type="radio" ng-model="form.gender" value="female"/>女士
                            </label>
                        </div>
                    </div>
                    <!--[x]电话-->
                    <div class="control-group">
                        <label class="col-sm-2"><a style="color: red;">*</a>电话：</label>
                        <div class="col-sm-6">
                            <label class="form-control-label text-warning inline">
                                <input type="text" ng-model="form.phone" value="18800184976"/>请准确输入11位手机号码
                            </label>
                        </div>
                    </div>
                    <!--[x]职位-->
                    <div class="control-group">
                        <label class="col-sm-2">职位：</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="form.job"/>
                        </div>
                    </div>
                    <!--[x]用户名-->
                    <div class="control-group">
                        <label class="col-sm-2">用户名：</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="form.username"/>
                        </div>
                    </div>
                    <!--[x]密码-->
                    <div class="control-group">
                        <label class="col-sm-2">密码：</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="form.password"/>
                        </div>
                    </div>
                    <!--电话隐私[预订员]-->
                    <div class="control-group" ng-if="form.option==='edit'">
                        <label class="col-sm-2">电话隐私：</label>
                        <div class="col-sm-6">
                            <input type="text" ng-model="form.private_phone"/>
                        </div>
                    </div>
                    <!--职能权限-->
                    <div class="control-group">
                        <label class="col-sm-2">职能权限：</label>
                        <div class="col-sm-6">
                            <!--职能权限表-->
                            <table class="table table-hover table-bordered table-responsive">
                                <thead>
                                <tr>
                                    <td>管理职能</td>
                                    <td>营销职能</td>
                                    <td>预定职能</td>
                                    <td>销售职能</td>
                                </tr>
                                </thead>
                                <tbody class="table-info">
                                <tr>
                                    <td>管理职能</td>
                                    <td>营销职能</td>
                                    <td>预定职能</td>
                                    <td>销售职能</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--销售职能[客户经理：默认打开]-->
                    <div class="control-group">
                        <label class="col-sm-2">销售职能：</label>
                        <div class="col-sm-6">
                            <label class="form-control-label checkbox inline">
                                <input type="checkbox" ng-model="form.sale" value="true" disabled/>
                                开通销售职能（可通过手机预订占座，统计本人订单业绩，并协助分析客户价值）
                            </label>
                        </div>
                    </div>
                    <!--销售职能/订单短信[预订员][客户经理]-->
                    <div class="control-group" ng-show="form.sale===true">
                        <label class="col-sm-2">订单短信：</label>
                        <div class="col-sm-6">
                            <label class="form-control-label checkbox inline">
                                <input type="checkbox" ng-model="form.order_sms"/>接收客户预定通知
                            </label>
                        </div>
                    </div>
                    <!--销售职能/短信附加[预订员]-->
                    <div class="control-group" ng-if="form.sale===true">
                        <label class="col-sm-2">短信附加：</label>
                        <div class="col-sm-6">
                            <label class="form-control-label checkbox inline">
                                <input type="checkbox" ng-model="form.order_sms"/>为客户预订餐位时，发送给客户的短信中自动嵌入本人职位、姓名及联系电话
                            </label>
                        </div>
                    </div>
                    <!--销售职能/提成结算[预订员]-->
                    <div class="control-group" ng-if="form.sale===true">
                        <label class="col-sm-2">提成结算：</label>
                        <div class="col-sm-6">
                            <!--接单提成-->
                            <label class="form-control-label">
                                <input class="checkbox inline" type="checkbox" ng-model="form.order_bonus.enabled"/>接单提成
                            </label>
                            <div class="p-2 bg-info" ng-show="form.order_bonus.enabled">
                                <h5>提成结算方式</h5>
                                <div>
                                    <label class="form-control-label radio inline">
                                        <input type="radio" ng-model="form.order_bonus.method" value="0"/>按消费额百分比
                                    </label>
                                    <label class="form-control-label inline">
                                        消费金额 * <input type="number" ng-model="form.order_bonus.value">元/桌
                                    </label>
                                </div>
                                <div>
                                    <label class="form-control-label">
                                        <input class="radio inline" type="radio" ng-model="form.order_bonus.method" value="1"/>按订单数量
                                    </label>
                                    <label class="form-control-label">
                                        <input type="number" ng-model="form.order_bonus.value">元/桌
                                    </label>
                                </div>
                                <div>
                                    <label class="form-control-label">
                                        <input type="radio" ng-model="form.order_bonus.method" value="2"/>按消费人数
                                    </label>
                                    <label class="form-control-label">
                                        <input type="number" ng-model="form.order_bonus.value">元/人
                                    </label>
                                </div>
                            </div>
                            <!--开新客提成-->
                            <label class="form-control-label">
                                <input class="checkbox inline" type="checkbox" ng-model="form.new_customer_bonus.enabled"/>开新客提成
                                <a class="warning">客户第一次在系统内生成订单消费成功，则接单人新开客数量加1。</a>
                            </label>
                            <div class="p-2 bg-info" ng-show="form.new_customer_bonus.enabled">
                                <h5>提成结算方式</h5>
                                <div>
                                    <label class="form-control-label inline">
                                        消费金额 * <input type="number" ng-model="form.new_customer_bonus.value">元/桌
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--管辖桌位-->
                    <div class="control-group">
                        <label class="col-sm-2">管辖桌位：</label>
                        <div class="col-sm-6">
                            <!--管理全部桌位-->
                            <label class="form-control-label">
                                <input class="checkbox inline" type="checkbox" ng-model="form.desk_manage.all_seat"/>管理全部桌位
                            </label>
                            <!--区域导航栏-->
                            <div>
                                区域导航栏
                            </div>
                            <!--桌位选择列表-->
                            <div ng-if="form.desk_manage.all_seat===false">
                                桌位选择列表
                            </div>
                        </div>
                    </div>
                    <!--管辖区域-->
                    <div class="control-group">
                        <label class="col-sm-2">管辖区域：</label>
                        <div class="col-sm-6">
                            <ul class="list-inline">
                                <li ng-repeat="x in area">
                                    <label class="form-control-label">
                                        <input type="checkbox" ng-model="form.select_area[x].select" value="x.value"/>{{x.name}}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--[x]沟通渠道-->
                    <div class="control-group">
                        <label class="col-sm-2">沟通渠道：</label>
                        <div class="col-sm-6">
                            <ul class="inline">
                                <li>
                                    <label class="form-control-label">
                                        <input type="radio" ng-model="form.communicate.channel" value="tel_box"/>电话盒子
                                    </label>
                                    <ul class="list-inline" ng-if="form.communicate.channel==='tel_box'">
                                        <li ng-repeat="x in form.communicate.tel_box">
                                            <label class="form-control-label">
                                                <input type="checkbox" ng-model="x" ng-click="check_box($index)"/>{{x}}
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <label class="form-control-label">
                                        <input type="radio" ng-model="form.communicate.channel" value="smart_tel"/>智能电话
                                    </label>
                                    <ul class="list-inline" ng-show="form.communicate.channel==='smart_tel'">
                                        <li ng-repeat="x in form.communicate.smart_tel">
                                            <label class="form-control-label">
                                                <input type="checkbox" ng-model="x" ng-click="check_phone($index)"/>{{x}}
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <input class="btn btn-primary btn-sm" ng-click="submit()" value="提交"/>
    <input class="btn btn-secondary btn-sm" ng-click="cancel()" value="取消"/>
</div>