<!--主页/后台用户管理/渠道管理/[新增/编辑]内部渠道-->
<div class="modal-header">
    {{option}}{{form.guest_channel|channel}}
</div>
<div class="modal-body">
    <!--表单-->
    <form class="form-horizontal">
        <fieldset>
            <!--员工姓名-->
            <div class="form-group">
                <label class="col-lg-2 control-label">员工姓名：</label>
                <div class="col-lg-10">
                    {{form.name}}
                </div>
            </div>
            <!--职位设置-->
            <div class="form-group">
                <label class="col-lg-2 control-label">职位：</label>
                <div class="col-lg-10">
                    <input type="text" ng-model="form.position"/>
                </div>
            </div>
            <!--电话隐私-->
            <div class="form-group">
                <label class="col-lg-2 control-label">电话隐私：</label>
                <div class="col-lg-10">
                    <label class="control-label">
                        <input type="checkbox" ng-model="form.phone_private"/>查看预订订单时，客户电话部分号码以"*"代替
                    </label>
                </div>
            </div>
            <!--职能权限-->
            <div class="form-group">
                <label class="col-lg-2 control-label">职能权限：</label>
                <div class="col-lg-10">
                    <!--职能权限表-->
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>管理职能</th>
                            <th>营销职能</th>
                            <th>预定职能</th>
                            <th>移动端管理</th>
                            <th>其他</th>
                        </tr>
                        </thead>
                        <tbody class="table-info">
                        <tr>
                            <td><label><input type="checkbox" ng-model="form.authority" value="1">账户管理</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="2">客户管理</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="3">订单管理</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">查看订单</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">微课堂管理</label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="6">财务报表</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="7">客户档案列表</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="8">预定通知单</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">操作客到</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">直播课堂</label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="1">短信详单</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="2">客源情况分析</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="3">历史订单</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">操作调桌</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">视频管理</label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="1">修改密码</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="2">会员价值设置</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="3">订单金额录入</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">操作翻台</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">评分审阅</label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="2">纪念日报表</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="3">订单统计</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">操作撤单</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">我的评分</label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="3">来电记录</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">查看餐位</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">排名</label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="3">操作日志</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">占座预订</label></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="5">视频教程</label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="3">智能订餐台</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">我的客户</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="checkbox" ng-model="form.authority" value="3">预订台</label></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">我的订单</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">客户管理</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><label><input type="checkbox" ng-model="form.authority" value="5">订单管理</label></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--管理渠道客户【高层管理】-->
            <div ng-if="form.guest_channel===1" class="form-group">
                <label class="col-lg-2 control-label">管理渠道客户：</label>
                <div class="col-lg-10">
                    <!--管理全部渠道客户-->
                    <label class="control-label">
                        <input type="checkbox" ng-model="form.manage_all_channels"/>管理全部渠道客户
                    </label>
                    <div class="row">
                        <div class="col-sm-2" ng-repeat="x in Hotel.Channel.InternalChannel">
                            {{x.name}} <span class="badge badge-info">{{x.guest_channel|channel}}</span>
                            <input type="checkbox" ng-model="x.selected" ng-value="form.manage_all_channels"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--销售职能【客户经理默认打开】-->
            <div class="form-group">
                <label class="col-lg-2 control-label">销售职能：</label>
                <div class="col-lg-10">
                    <label>
                        <input type="checkbox" ng-model="form.sale_enabled" value="true"/>
                        开通销售职能（可通过手机预订占座，统计本人订单业绩，并协助分析客户价值）
                    </label>
                </div>
            </div>
            <!--订单短信【打开销售职能】-->
            <div ng-if="form.guest_channel===1" ng-show="form.sale_enabled===true" class="form-group">
                <label class="col-lg-2 control-label">订单短信：</label>
                <div class="col-lg-10">
                    <label class="control-label">
                        <input type="checkbox" ng-model="form.order_sms_inform"/>接收客户预定通知
                    </label>
                </div>
            </div>
            <!--++短信附加-->
            <div ng-show="form.sale_enabled===true" class="form-group">
                <label class="col-lg-2 control-label">短信附加：</label>
                <div class="col-lg-10">
                    <label class="control-label">
                        <input type="checkbox" ng-model="form.order_sms_attach"/>
                        为客户预订餐位时，发送给客户的短信中自动嵌入本人职位、姓名及联系电话
                    </label>
                </div>
            </div>
            <!--++提成结算-->
            <div ng-show="form.sale_enabled===true" class="form-group">
                <label class="col-lg-2 control-label">提成结算：</label>
                <div class="col-lg-10">
                    <ul class="list-group">
                        <!--接单提成-->
                        <li class="list-group-item">
                            <!--接单提成-->
                            <label class="control-label">
                                <input type="checkbox" ng-model="form.order_bonus.enabled"/>接单提成
                            </label>
                            <div class="bg-warning" ng-show="form.order_bonus.enabled">
                                <h5>提成结算方式</h5>
                                <div>
                                    <label>
                                        <input type="radio" ng-model="form.order_bonus.method" value="0"/>按消费额百分比
                                    </label>
                                    <!--order_bonus.method为0时显示-->
                                    <label ng-show="form.order_bonus.method==='0'">
                                        消费金额 * <input type="number" ng-model="form.order_bonus.value">元/桌
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" ng-model="form.order_bonus.method" value="1"/>按订单数量
                                    </label>
                                    <!--order_bonus.method为1时显示-->
                                    <label ng-show="form.order_bonus.method==='1'">
                                        <input type="number" ng-model="form.order_bonus.value">元/桌
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" ng-model="form.order_bonus.method" value="2"/>按消费人数
                                    </label>
                                    <!--order_bonus.method为2时显示-->
                                    <label ng-show="form.order_bonus.method==='2'">
                                        <input type="number" ng-model="form.order_bonus.value">元/人
                                    </label>
                                </div>
                            </div>
                        </li>
                        <!--开新客提成-->
                        <li class="list-group-item">
                            <!--开新客提成-->
                            <label>
                                <input type="checkbox" ng-model="form.new_customer_bonus.enabled"/>开新客提成
                                <span class="text-warning">客户第一次在系统内生成订单消费成功，则接单人新开客数量加1。</span>
                            </label>
                            <div class="bg-warning" ng-show="form.new_customer_bonus.enabled">
                                <h5>提成结算方式</h5>
                                <div>
                                    <label>
                                        消费金额 * <input type="number" ng-model="form.new_customer_bonus.value">元/桌
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--管辖门店-->
            <div class="form-group">
                <label class="col-lg-2 control-label">管辖门店：</label>
                <div class="col-lg-10">
                    门店列表
                </div>
            </div>
            <!--管辖区域-->
            <div class="form-group">
                <label class="col-lg-2 control-label">管辖区域：</label>
                <div class="col-lg-10">
                    <ul class="list-inline">
                        <li ng-repeat="x in area.list|filter:{is_enabled:true}">
                            <label>
                                <input type="checkbox" ng-click="checkArea(x.area_id)"/>{{x.name}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--管辖桌位【高层管理无此项】-->
            <div ng-hide="form.guest_channel===1" class="form-group">
                <label class="col-lg-2 control-label">管辖桌位：</label>
                <div class="col-lg-10">
                    <!--管理全部桌位-->
                    <label class="control_label">
                        <input type="checkbox" ng-model="select_all_seat"/>管理全部桌位
                    </label>
                    <!--区域选择面板-->
                    <div class="panel panel-default">
                    </div>
                </div>
            </div>
            <!--沟通渠道【预订员】-->
            <div ng-if="form.guest_channel===2" class="form-group">
                <label class="col-lg-2 control-label">沟通渠道：</label>
                <div class="col-lg-10">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>
                                <input type="radio" ng-model="form.communicate.channel" value="tel_box"/>电话盒子
                            </label>
                            <ul class="list-inline" ng-show="form.communicate.channel==='tel_box'">
                                <li ng-repeat="x in form.communicate.tel_box">
                                    <label>
                                        <input type="checkbox" ng-click="checkTelBox($index)"/>{{x}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="radio" ng-model="form.communicate.channel" value="smart_tel"/>智能电话
                            </label>
                            <ul class="list-inline" ng-show="form.communicate.channel==='smart_tel'">
                                <li ng-repeat="x in form.communicate.smart_tel">
                                    <label>
                                        <input type="checkbox" ng-click="checkPhone($index)"/>{{x}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <input class="btn btn-success btn-sm" type="button" ng-click="save()" value="保存"/>
    <input class="btn btn-warning btn-sm" type="button" ng-click="cancel()" value="取消"/>
</div>