<!--主页/后台用户管理/渠道管理/新增预订员-->
<div class="modal-header">
    新增预订员
</div>
<div class="modal-body">
    <!--表单-->
    <form class="form-horizontal">
        <fieldset>
            <!--姓名 性别-->
            <div class="form-group">
                <label class="col-lg-2 control-label"><a style="color: red;">*</a>姓名：</label>
                <div class="col-lg-10">
                    <input class=" inline" type="text" ng-model="form.name"/>
                    <label>
                        <input type="radio" ng-model="form.gender" value="male"/>先生
                    </label>
                    <label>
                        <input type="radio" ng-model="form.gender" value="female"/>女士
                    </label>
                </div>
            </div>
            <!--[x]电话-->
            <div class="form-group">
                <label class="col-lg-2 control-label"><a style="color: red;">*</a>电话：</label>
                <div class="col-lg-10">
                    <label class=" text-warning inline">
                        <input type="text" ng-model="form.phone" value="18800184976"/>请准确输入11位手机号码
                    </label>
                </div>
            </div>
            <!--[x]职位-->
            <div class="form-group">
                <label class="col-lg-2 control-label">职位：</label>
                <div class="col-lg-10">
                    <input type="text" ng-model="form.job"/>
                </div>
            </div>
            <!--电话隐私[预订员]-->
            <div class="form-group" ng-if="form.option==='edit'">
                <label class="col-lg-2 control-label">电话隐私：</label>
                <div class="col-lg-10">
                    <input type="text" ng-model="form.private_phone"/>
                </div>
            </div>
            <!--职能权限-->
            <div class="form-group">
                <label class="col-lg-2 control-label">职能权限：</label>
                <div class="col-lg-10">
                    <!--职能权限表-->
                    <table class="table table-hover table-bordered table-responsive">
                        <thead>
                        <tr>
                            <td>管理职能</td>
                            <td>营销职能</td>
                            <td>预定职能</td>
                            <td>销售职能</td>
                        </tr>
                        </thead>
                        <tbody class="table-info">
                        <tr>
                            <td>管理职能</td>
                            <td>营销职能</td>
                            <td>预定职能</td>
                            <td>销售职能</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--销售职能[客户经理：默认打开]-->
            <div class="form-group">
                <label class="col-lg-2 control-label">销售职能：</label>
                <div class="col-lg-10">
                    <label>
                        <input type="checkbox" ng-model="form.sale" value="true" disabled/>
                        开通销售职能（可通过手机预订占座，统计本人订单业绩，并协助分析客户价值）
                    </label>
                </div>
            </div>
            <!--销售职能/订单短信[预订员][客户经理]-->
            <div class="form-group" ng-show="form.sale===true">
                <label class="col-lg-2 control-label">订单短信：</label>
                <div class="col-lg-10">
                    <label>
                        <input type="checkbox" ng-model="form.order_sms"/>接收客户预定通知
                    </label>
                </div>
            </div>
            <!--销售职能/短信附加[预订员]-->
            <div class="form-group" ng-if="form.sale===true">
                <label class="col-lg-2 control-label">短信附加：</label>
                <div class="col-lg-10">
                    <label>
                        <input type="checkbox" ng-model="form.order_sms"/>为客户预订餐位时，发送给客户的短信中自动嵌入本人职位、姓名及联系电话
                    </label>
                </div>
            </div>
            <!--销售职能/提成结算[预订员]-->
            <div class="form-group" ng-if="form.sale===true">
                <label class="col-lg-2 control-label">提成结算：</label>
                <div class="col-lg-10">
                    <ul class="list-group">
                        <!--接单提成-->
                        <li class="list-group-item">
                            <!--接单提成-->
                            <label>
                                <input type="checkbox" ng-model="form.order_bonus.enabled"/>接单提成
                            </label>
                            <div class="p-2 bg-warning" ng-show="form.order_bonus.enabled">
                                <h5>提成结算方式</h5>
                                <div>
                                    <label>
                                        <input type="radio" ng-model="form.order_bonus.method" value="0"/>按消费额百分比
                                    </label>
                                    <label class=" inline">
                                        消费金额 * <input type="number" ng-model="form.order_bonus.value">元/桌
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" ng-model="form.order_bonus.method" value="1"/>按订单数量
                                    </label>
                                    <label>
                                        <input type="number" ng-model="form.order_bonus.value">元/桌
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        <input type="radio" ng-model="form.order_bonus.method" value="2"/>按消费人数
                                    </label>
                                    <label>
                                        <input type="number" ng-model="form.order_bonus.value">元/人
                                    </label>
                                </div>
                            </div>
                        </li>
                        <!--开新客提成-->
                        <li class="list-group-item">
                            <!--开新客提成-->
                            <label>
                                <input type="checkbox" ng-model="form.new_customer_bonus.enabled"/>开新客提成
                                <a class="warning">客户第一次在系统内生成订单消费成功，则接单人新开客数量加1。</a>
                            </label>
                            <div class="p-2 bg-warning" ng-show="form.new_customer_bonus.enabled">
                                <h5>提成结算方式</h5>
                                <div>
                                    <label class=" inline">
                                        消费金额 * <input type="number" ng-model="form.new_customer_bonus.value">元/桌
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--管辖桌位-->
            <div class="form-group">
                <label class="col-lg-2 control-label">管辖桌位：</label>
                <div class="col-lg-10">
                    <!--管理全部桌位-->
                    <label>
                        <input type="checkbox" ng-model="form.desk_manage.all_seat"/>管理全部桌位
                    </label>
                    <!--区域导航栏-->
                    <div>
                        区域导航栏
                        <nav class="navbar">
                            <ul class="nav nav-tabs">
                                <li ng-repeat="x in area">{{x.name}}</li>
                            </ul>
                        </nav>
                    </div>
                    <!--桌位选择列表-->
                    <div ng-if="form.desk_manage.all_seat===false">
                        <ul class="list-group" ng-repeat="x in area">
                            <li class="list-group-item" ng-repeat="y in x.seat">{{y.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--管辖区域-->
            <div class="form-group">
                <label class="col-lg-2 control-label">管辖区域：</label>
                <div class="col-lg-10">
                    <ul class="list-inline">
                        <li ng-repeat="x in area">
                            <label>
                                <input type="checkbox" ng-model="form.select_area[x].select" value="x.value"/>{{x.name}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--沟通渠道-->
            <div class="form-group">
                <label class="col-lg-2 control-label">沟通渠道：</label>
                <div class="col-lg-10">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>
                                <input type="radio" ng-model="form.communicate.channel" value="tel_box"/>电话盒子
                            </label>
                            <ul class="list-inline" ng-if="form.communicate.channel==='tel_box'">
                                <li ng-repeat="x in form.communicate.tel_box">
                                    <label>
                                        <input type="checkbox" ng-model="x" ng-click="check_box($index)"/>{{x}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item">
                            <label>
                                <input type="radio" ng-model="form.communicate.channel" value="smart_tel"/>智能电话
                            </label>
                            <ul class="list-inline" ng-show="form.communicate.channel==='smart_tel'">
                                <li ng-repeat="x in form.communicate.smart_tel">
                                    <label>
                                        <input type="checkbox" ng-model="x" ng-click="check_phone($index)"/>{{x}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <input class="btn btn-success btn-sm" type="button" ng-click="submit()" value="提交"/>
    <input class="btn btn-warning btn-sm" type="button" ng-click="cancel()" value="取消"/>
</div>